openapi: 3.1.0
info:
  title: OutLayer API
  version: 0.1.0-alpha.1
  summary: HTTP API for OutLayer custody wallets and policy enforcement
  description: |
    OutLayer Agent Custody — multi-chain wallets for AI agents with TEE-enforced
    policy, multisig approvals, audit log, gasless cross-chain transfers via
    NEAR Intents, and off-chain EVM signing (EIP-712 typed data, EIP-191
    personal_sign, and client-serialized raw transactions).

    Private keys live exclusively inside an Intel TDX TEE and are derived from
    NEAR MPC. The wallet owner sets policy (spending limits, whitelists,
    multisig, freeze) — all enforced inside the TEE before signing.

    See [CUSTODY docs](https://outlayer.fastnear.com/docs/agent-custody) for the
    architectural overview and [@outlayer/sdk](https://www.npmjs.com/package/@outlayer/sdk)
    for the TypeScript client.
  license:
    name: MIT
    identifier: MIT
  contact:
    name: OutLayer
    url: https://outlayer.fastnear.com

servers:
  - url: https://api.outlayer.fastnear.com
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Registration
    description: Create a new wallet and obtain an API key.
  - name: Wallet
    description: >-
      Multi-chain custody operations — transfer, withdraw, swap, balance, and
      signing, including NEAR (NEP-413) message signing and off-chain EVM
      signing (EIP-712 typed data, EIP-191 personal_sign, and client-serialized
      raw transactions).
  - name: Confidential
    description: >-
      Confidential intents — move balances between the public intents shard, the
      Defuse confidential shard, and external chains. The confidential balance
      ledger is real on-chain state on a separate **private** shard (the
      `intents.far` contract, distinct from public `intents.near`); it has no
      public RPC, so you cannot read it externally, but it is an auditable smart
      contract. Only SHIELD/UNSHIELD touch the public chain. Requires
      `ENABLE_CONFIDENTIAL_INTENTS` + the confidential partner agreement on the
      deployment, else every route returns 503. See the agent integration
      guide referenced under `externalDocs` for the full mental model, privacy
      recipes, and curl walkthroughs.
    externalDocs:
      description: >-
        Confidential intents — agent integration guide (mental model, privacy
        recipes, curl walkthroughs)
      url: https://github.com/out-layer/coordinator/blob/main/docs/CONFIDENTIAL_INTENTS.md
  - name: Policy
    description: Encrypted on-chain policy lifecycle (read, encrypt, sign, cache).
  - name: Approvals
    description: Multisig approval workflows for actions that exceed policy thresholds.
  - name: Audit
    description: Event history for the wallet.
  - name: Requests
    description: Async operation status tracking.
  - name: Meta
    description: Token catalog and helpers.

paths:
  # ============================================================================
  # Registration
  # ============================================================================
  /register:
    post:
      tags: [Registration]
      operationId: registerWallet
      summary: Register a new wallet
      description: |
        Creates a new multi-chain wallet and returns an API key. For most
        callers, send `{}` — an anonymous wallet is created and an API key is
        returned in `api_key` (shown once, not retrievable later).

        Optional fields enable advanced registration paths:
        - `account_id` + `pubkey` + `message` + `signature`: bind the wallet to
          a NEAR account via NEP-413 proof-of-ownership.
        - `vault_id`: bind to a customer-owned vault for sovereign custody (see
          vault docs).

        Rate-limited: 30 requests per minute per IP.
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              anonymous:
                summary: Anonymous wallet (most common)
                value: {}
              bound_to_near_account:
                summary: Bind to NEAR account via NEP-413
                value:
                  account_id: alice.near
                  pubkey: ed25519:7BcBZ9Z...
                  message: "register:1716200000"
                  signature: ed25519:5K3F...
      responses:
        '200':
          description: Wallet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
              examples:
                anonymous:
                  value:
                    wallet_id: 9c3c9e10-1c1f-4f5e-9c4a-1d7b9a8f3c20
                    api_key: wk_2a8b1f3c4d5e6789abcdef0123456789
                    near_account_id: 9c3c9e101c1f4f5e9c4a1d7b9a8f3c20
                    handoff_url: https://outlayer.fastnear.com/wallet?api_key=wk_2a8b...
                    trial:
                      calls_remaining: 100
                      expires_at: '2026-06-20T00:00:00Z'
                      limits:
                        max_instructions: 100000000
                        max_execution_seconds: 30
                        max_memory_mb: 64
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Wallet — read
  # ============================================================================
  /wallet/v1/address:
    get:
      tags: [Wallet]
      operationId: getAddress
      summary: Derive wallet address for a chain
      description: |
        Returns the deterministically-derived address for the wallet on the
        requested chain. Same `wallet_id` always produces the same addresses
        across chains.
      parameters:
        - name: chain
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Chain'
      responses:
        '200':
          description: Address derived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
              example:
                wallet_id: 9c3c9e10-1c1f-4f5e-9c4a-1d7b9a8f3c20
                chain: near
                address: 9c3c9e101c1f4f5e9c4a1d7b9a8f3c20
                public_key: ed25519:7BcBZ9Z...
                vault_id: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/balance:
    get:
      tags: [Wallet]
      operationId: getBalance
      summary: Read balance
      description: |
        Returns the balance for a token on the requested chain. Currently only
        `chain=near` is supported for native balance reads; cross-chain balances
        should be read from the upstream chain directly.

        Set `source=intents` to read the wallet's intents.near balance
        (`mt_balance_of`) instead of the on-chain account balance.
      parameters:
        - name: chain
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Chain'
            default: near
        - name: token
          in: query
          required: false
          schema:
            type: string
          description: Token ID (`nep141:<contract>` or `native`).
        - name: source
          in: query
          required: false
          schema:
            type: string
            enum: [chain, intents]
            default: chain
      responses:
        '200':
          description: Balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
              example:
                balance: '1000000000000000000000000'
                token: NEAR
                account_id: 9c3c9e101c1f4f5e9c4a1d7b9a8f3c20
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/tokens:
    get:
      tags: [Meta]
      operationId: listTokens
      summary: List supported tokens
      description: |
        Returns the token catalog supported for swaps and cross-chain withdraws
        via NEAR Intents. Token IDs are typed as `nep141:<contract>` and map to
        each chain via `defuse_asset_id`.
      responses:
        '200':
          description: Token list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokensResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Wallet — write
  # ============================================================================
  /wallet/v1/call:
    post:
      tags: [Wallet]
      operationId: call
      summary: Sign and broadcast a NEAR function call
      description: |
        Native NEAR contract call. Policy is enforced before signing; if the
        call exceeds limits, the response carries `status=pending_approval`
        and an `approval_id` for the multisig flow.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRequest'
            example:
              receiver_id: usdt.tether-token.near
              method_name: ft_transfer
              args:
                receiver_id: bob.near
                amount: '1000000'
              gas: '30000000000000'
              deposit: '1'
      responses:
        '200':
          description: Call submitted (or queued for approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/OnChainTxFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/transfer:
    post:
      tags: [Wallet]
      operationId: transfer
      summary: Native chain transfer
      description: |
        Chain-agnostic native transfer (NEAR yoctoNEAR units). Currently only
        `chain=near` is supported; other chains return `unsupported_chain`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
            examples:
              canonical:
                summary: Canonical `to` field
                value:
                  chain: near
                  to: bob.near
                  amount: '1000000000000000000000000'
              legacyReceiverId:
                summary: Legacy `receiver_id` alias (still accepted)
                value:
                  chain: near
                  receiver_id: bob.near
                  amount: '1000000000000000000000000'
      responses:
        '200':
          description: Transfer submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/OnChainTxFailed'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/delete:
    post:
      tags: [Wallet]
      operationId: deleteWallet
      summary: Delete the wallet account, sweeping its full balance to a beneficiary
      description: |
        Irreversible. Signs and broadcasts NEAR's native `DeleteAccount`
        action, which sends the wallet account's **entire** remaining NEAR
        balance to `beneficiary`, revokes all API keys, and marks the wallet
        deleted. Guards: the beneficiary cannot be the wallet's own account,
        the wallet must have a non-zero on-chain balance (a zero-balance
        implicit account does not exist on-chain), and the wallet must not be
        already deleted. Policy is enforced before signing; on a multisig
        wallet the response carries `status=pending_approval` and an
        `approval_id` for the multisig flow.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequest'
            example:
              beneficiary: treasury.near
              chain: near
      responses:
        '200':
          description: Account deleted (or queued for approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/OnChainTxFailed'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/storage-deposit:
    post:
      tags: [Wallet]
      operationId: storageDeposit
      summary: Register storage on a NEP-141 token contract
      description: |
        Calls `storage_deposit` (with `registration_only: true`) on a NEP-141
        token contract so `account_id` (defaults to the wallet's own NEAR
        address) can hold that token. Idempotent: if the account is already
        registered the call returns `already_registered: true` without signing
        a transaction. The wallet must have NEAR to pay gas when a transaction
        is required. Policy gates this as a `call`; multisig is not supported
        for this endpoint.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageDepositRequest'
            example:
              token: wrap.near
      responses:
        '200':
          description: Storage registered (or already registered)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageDepositResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/OnChainTxFailed'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/deposit:
    post:
      tags: [Wallet]
      operationId: intentsDeposit
      summary: Deposit FT into intents.near
      description: |
        Wraps `ft_transfer_call` to `intents.near`, auto-handling storage
        deposit if required. After this call, the wallet's intents.near balance
        increases by `amount` of `token` and is available for swaps and
        gasless cross-chain withdrawals.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntentsDepositRequest'
            example:
              token: wrap.near
              amount: '5000000000000000000000000'
      responses:
        '200':
          description: Deposit submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentsDepositResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/OnChainTxFailed'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/withdraw:
    post:
      tags: [Wallet]
      operationId: intentsWithdraw
      summary: Withdraw via NEAR Intents (native NEAR / wNEAR / cross-chain)
      description: |
        Gasless withdrawal through NEAR Intents solver relay. The wallet's
        intents.near balance is debited; the receiver gets funds without paying
        gas on either side.

        **`chain=near`** — the `token` field selects what the recipient receives:
          - omitted / `near` / `native` (default): **native NEAR**. intents.near
            unwraps the wallet's wNEAR (`native_withdraw` intent) and sends native
            NEAR. The recipient needs **no** `wrap.near` storage. The recipient
            account must already exist (or be a 64-char implicit account) —
            withdrawing to a non-existent named account is rejected (the unwrapped
            wNEAR would otherwise be burned).
          - `nep141:wrap.near`: **wNEAR** (NEP-141). Recipient must be
            storage-registered on `wrap.near`.
          - other `nep141:<token>`: that NEP-141. Recipient must be storage-registered.

        **Other chains** (`ethereum`, `solana`, `bitcoin`, ...) — `token` is the
        source Intents asset; 1Click bridges and delivers the destination chain's
        native asset.

        If the policy requires approval, returns `status=pending_approval` with
        an `approval_id`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
            examples:
              nativeNear:
                summary: Native NEAR (default for chain=near)
                value:
                  chain: near
                  to: receiver.near
                  amount: '1000000000000000000000000'
                  token: near
              wnear:
                summary: wNEAR (NEP-141, recipient needs wrap.near storage)
                value:
                  chain: near
                  to: receiver.near
                  amount: '1000000000000000000000000'
                  token: nep141:wrap.near
              crossChain:
                summary: Cross-chain (1Click delivers native on the target chain)
                value:
                  chain: ethereum
                  to: '0x742d35Cc6634C0532925a3b844Bc9e7595f8b4f5'
                  amount: '1000000'
                  token: nep141:usdt.tether-token.near
      responses:
        '200':
          description: Withdraw submitted (or queued for approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/withdraw/dry-run:
    post:
      tags: [Wallet]
      operationId: intentsWithdrawDryRun
      summary: Simulate a withdraw (policy + balance check, no execution)
      description: |
        Runs the full policy and balance check for a withdraw without signing
        or broadcasting. Useful for showing the user whether an action would
        succeed before they confirm.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
      responses:
        '200':
          description: Dry-run result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DryRunResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/transfer:
    post:
      tags: [Wallet]
      operationId: intentsTransfer
      summary: Transfer inside NEAR Intents (to another account's intents balance)
      description: |
        Move a token balance from the wallet's `intents.near` balance to **another
        account's** `intents.near` balance, staying **inside** the intents pool
        (the defuse `transfer` intent). Gasless via the solver relay — neither side
        pays NEAR gas.

        This is **not** a withdrawal: funds never leave `intents.near`. Use
        `POST /wallet/v1/intents/withdraw` to deliver to a plain on-chain account
        instead. NEAR-only: there is no `chain` field, and `token` is **required**
        (to send NEAR, transfer `nep141:wrap.near`).

        The recipient is credited inside `intents.near`, so the account need **not**
        exist on-chain (a 64-hex implicit OutLayer wallet is a valid recipient); only
        the account-id format is validated.

        Gated by the wallet policy exactly like withdraw (recipient whitelist +
        per-token amount limit). If the policy requires approval, returns
        `status=pending_approval` with an `approval_id`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntentsTransferRequest'
            examples:
              usdt:
                summary: Transfer USDT to another account's intents balance
                value:
                  to: partner.near
                  amount: '1000000'
                  token: nep141:usdt.tether-token.near
      responses:
        '200':
          description: Transfer submitted (or queued for approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/swap:
    post:
      tags: [Wallet]
      operationId: intentsSwap
      summary: Swap via NEAR Intents (1Click)
      description: |
        Cross-chain swap via the 1Click solver. Quote → deposit to intents.near
        → mt_transfer → poll. Returns when the swap settles or fails.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwapRequest'
            example:
              token_in: nep141:wrap.near
              token_out: nep141:usdt.tether-token.near
              amount_in: '5000000000000000000000000'
              min_amount_out: '24000000'
      responses:
        '200':
          description: Swap submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/swap/quote:
    post:
      tags: [Wallet]
      operationId: intentsSwapQuote
      summary: Get a swap quote (no execution)
      description: |
        Returns the indicative output and deadline for a swap without executing
        it. Use this before calling `/intents/swap` to show the user expected
        output and allow them to set `min_amount_out`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwapRequest'
      responses:
        '200':
          description: Quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuoteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/evm/sign-typed-data:
    post:
      tags: [Wallet]
      operationId: evmSignTypedData
      summary: Sign EIP-712 typed data (EVM)
      description: |
        Sign an EIP-712 v4 typed-data object with the wallet's EVM (secp256k1)
        key for `chain`. The digest is computed server-side from the full
        typed-data object (no client-supplied hash is trusted); `ecrecover` over
        it returns the address from `GET /wallet/v1/address?chain=<evm>`. This is
        the core trading primitive (signs CLOB orders). Off-chain — returns the
        signature only, no broadcast. Gated by the `evm_sign` capability.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvmSignTypedDataRequest'
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvmSignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/evm/sign-message:
    post:
      tags: [Wallet]
      operationId: evmSignMessage
      summary: Sign an EIP-191 personal_sign message (EVM)
      description: |
        Sign an EIP-191 `personal_sign` message with the wallet's EVM key.
        `message` is `0x`-hex (signed as raw bytes) or a UTF-8 string. Used for
        venue L1 auth (e.g. deriving a Polymarket CLOB API key). Gated by the
        `evm_sign` capability.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvmSignMessageRequest'
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvmSignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/evm/sign-transaction:
    post:
      tags: [Wallet]
      operationId: evmSignTransaction
      summary: Sign a raw EVM transaction
      description: |
        Sign a raw EVM transaction with the wallet's EVM key. The caller supplies
        the **serialized unsigned transaction** (`unsigned_tx`, e.g. viem
        `serializeTransaction(tx)` — `0x02‖rlp(...)` for EIP-1559); the service
        keccak256-hashes it and returns the recoverable signature. It does NOT
        assemble the transaction, manage nonce/gas, or broadcast — the caller
        assembles the final signed tx and broadcasts it. For an EIP-1559 tx the
        `yParity` needed to assemble is `v - 27`. Gated by the **`evm_sign.raw_tx`**
        sub-capability (default-OFF, separate from base `evm_sign`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvmSignTransactionRequest'
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvmSignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Confidential intents (Defuse confidential shard)
  # ============================================================================
  /wallet/v1/confidential/shield:
    post:
      tags: [Confidential]
      operationId: confidentialShield
      summary: SHIELD — move public intents balance into the confidential shard
      description: |
        Moves the wallet's **public** `intents.near` balance into its
        confidential balance (deposit-type `INTENTS` → recipient-type
        `CONFIDENTIAL_INTENTS`).

        **Privacy note:** SHIELD links the wallet to the confidential pool
        **on-chain** (an `execute_intents` call signed by the wallet, with the
        public asset id visible). It is a convenience hop, not an unlinkable
        operation — for unlinkability fund the confidential balance via
        `confidentialDepositCrossChain` (cross-chain) instead. See CUSTODY docs.

        Async: returns `status=pending_deposit` with a `request_id`; poll
        `GET /wallet/v1/requests/{id}` until terminal.

        **Legacy alias:** `POST /wallet/v1/confidential/deposit` still works and
        resolves to the same handler.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialShieldRequest'
            example:
              token: nep141:wrap.near
              amount: '10000000000000000000000'
      responses:
        '200':
          description: Shield submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/deposit:
    post:
      tags: [Confidential]
      operationId: confidentialDeposit
      deprecated: true
      summary: '[Deprecated] SHIELD into the confidential shard (use /wallet/v1/confidential/shield)'
      description: |
        **Deprecated legacy alias.** Use
        [`confidentialShield`](#tag/Confidential/operation/confidentialShield)
        (`POST /wallet/v1/confidential/shield`) instead. Retained for backward
        compatibility; resolves to the same handler with identical
        request/response shapes.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialShieldRequest'
            example:
              token: nep141:wrap.near
              amount: '10000000000000000000000'
      responses:
        '200':
          description: Shield submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/unshield:
    post:
      tags: [Confidential]
      operationId: confidentialUnshield
      summary: UNSHIELD — move confidential balance back to public intents
      description: |
        Reverse of SHIELD (deposit-type `CONFIDENTIAL_INTENTS` → recipient-type
        `INTENTS`). Like SHIELD, this links the wallet on-chain (exit-to-public
        reveal). Async — poll `GET /wallet/v1/requests/{id}`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialUnshieldRequest'
            example:
              token: nep141:wrap.near
              amount: '10000000000000000000000'
      responses:
        '200':
          description: Unshield submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/withdraw:
    post:
      tags: [Confidential]
      operationId: confidentialWithdraw
      summary: Withdraw a confidential balance to an external chain
      description: |
        Moves a confidential balance out to a destination chain
        (`CONFIDENTIAL_INTENTS` → `DESTINATION_CHAIN`). The wallet's NEAR address
        never appears on chain — only the destination-chain receiver does, on the
        destination chain.

        `chain="near"` is supported and delivers **native NEAR** to the named
        NEAR account: 1Click runs a `native_withdraw` intent on `intents.near`
        that unwraps the wNEAR and sends native NEAR directly to the recipient's
        wallet (verified live: settlement
        `FVzan8XRMwHYPe2hgX4GffwG3bdndxETWb2FKVFzFdur`). To send funds back to
        your **own** public intents balance use `confidentialUnshield` (different
        semantics — self vs. external recipient).

        `token` is **required** — the source confidential asset to deliver on the
        destination chain. The same per-chain whitelist / spending-limit policy
        as `intentsWithdraw` is enforced. Async — poll
        `GET /wallet/v1/requests/{id}`.

        **Delivery to a NEAR named account via `DESTINATION_CHAIN` lands an
        `mt_balance` credit on `intents.near` (NEP-245), not a direct FT
        balance** — see CUSTODY docs.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialWithdrawRequest'
            example:
              chain: solana
              to: Esf7JS1sM46vEHtk75ik7N7UD5FJ13TXVKGWEd2kksiw
              amount: '500000'
              token: nep141:sol-5ce3bf3a31af18be40ba30f721101b4341690186.omft.near
      responses:
        '200':
          description: Withdraw submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/withdraw/dry-run:
    post:
      tags: [Confidential]
      operationId: confidentialWithdrawDryRun
      summary: Quote a confidential withdraw (no execution)
      description: |
        Returns the indicative output for a confidential withdraw without
        signing or submitting. Read-only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialWithdrawRequest'
      responses:
        '200':
          description: Quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuoteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/transfer:
    post:
      tags: [Confidential]
      operationId: confidentialTransfer
      summary: Private transfer inside the confidential shard
      description: |
        Transfers a confidential balance to another NEAR account, fully inside
        the confidential shard (`CONFIDENTIAL_INTENTS` → `CONFIDENTIAL_INTENTS`).
        Settles on the private shard, so it leaves no public-chain trace.
        NEAR-only context — no `chain` field; `token`
        required. Async — poll `GET /wallet/v1/requests/{id}`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialTransferRequest'
            example:
              to: '950c134ec86a21a8525d16d1dbae79258b923cabdaa8d32da284d931f74bdcb2'
              amount: '1000000'
              token: nep141:wrap.near
      responses:
        '200':
          description: Transfer submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/swap:
    post:
      tags: [Confidential]
      operationId: confidentialSwap
      summary: Swap between two assets inside the confidential shard
      description: |
        Confidential swap with distinct `token_in`/`token_out`, both settled
        inside the confidential shard. Settles on the private shard, so it leaves
        no public-chain trace. Async — poll
        `GET /wallet/v1/requests/{id}`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialSwapRequest'
            example:
              token_in: nep141:wrap.near
              token_out: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
              amount_in: '5000000000000000000000000'
      responses:
        '200':
          description: Swap submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/swap/quote:
    post:
      tags: [Confidential]
      operationId: confidentialSwapQuote
      summary: Quote a confidential swap (no execution)
      description: Read-only price preview for a confidential swap.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialSwapRequest'
      responses:
        '200':
          description: Quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuoteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/deposit/cross-chain:
    post:
      tags: [Confidential]
      operationId: confidentialDepositCrossChain
      summary: Cross-chain deposit into the confidential shard (quote only)
      description: |
        Requests a one-time deposit address to fund the confidential balance
        from an external chain (`ORIGIN_CHAIN` → `CONFIDENTIAL_INTENTS`) via
        1Click / NEAR Intents. The caller sends `amount` of the source asset to
        the returned `deposit_address` out-of-band; the solver delivers it and
        credits the confidential balance. **The wallet's NEAR address never
        touches the public side** — this is the most private way to fund a
        confidential balance. Poll `GET /wallet/v1/requests/{id}` for status.

        **Legacy alias:** `POST /wallet/v1/confidential/deposit-intent` still
        works and resolves to the same handler.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialDepositIntentRequest'
            example:
              source_asset: nep141:sol-5ce3bf3a31af18be40ba30f721101b4341690186.omft.near
              amount: '500000'
      responses:
        '200':
          description: Deposit address issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialDepositIntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/deposit-intent:
    post:
      tags: [Confidential]
      operationId: confidentialDepositIntent
      deprecated: true
      summary: '[Deprecated] Cross-chain deposit into the confidential shard (use /wallet/v1/confidential/deposit/cross-chain)'
      description: |
        **Deprecated legacy alias.** Use
        [`confidentialDepositCrossChain`](#tag/Confidential/operation/confidentialDepositCrossChain)
        (`POST /wallet/v1/confidential/deposit/cross-chain`) instead. Retained
        for backward compatibility; resolves to the same handler with identical
        request/response shapes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialDepositIntentRequest'
            example:
              source_asset: nep141:sol-5ce3bf3a31af18be40ba30f721101b4341690186.omft.near
              amount: '500000'
      responses:
        '200':
          description: Deposit address issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialDepositIntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/balance:
    get:
      tags: [Confidential]
      operationId: confidentialBalance
      summary: Read confidential balances
      description: |
        Returns the wallet's confidential balances from the private shard
        (`intents.far`), which has no public RPC of its own. With `?token=`
        returns a single asset; without it returns the
        full list. Accepts both `wrap.near` and `nep141:wrap.near` forms.
      parameters:
        - name: token
          in: query
          required: false
          schema:
            type: string
          description: Defuse asset id to filter to (e.g. `nep141:wrap.near`). Omit for all.
      responses:
        '200':
          description: Confidential balance(s)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ConfidentialBalanceResponse'
                  - $ref: '#/components/schemas/ConfidentialBalancesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/intents/deposit/cross-chain:
    post:
      tags: [Wallet]
      operationId: intentsDepositCrossChain
      summary: Create a cross-chain deposit (via 1Click / NEAR Intents)
      description: |
        Requests a one-time deposit address on a source chain via NEAR Intents
        1Click. The caller sends `amount` of the source token to the returned
        `deposit_address`; the solver delivers it and credits the wallet's
        intents.near balance. Poll `getCrossChainDepositStatus` until `success`.

        This is a **cross-chain deposit via 1Click / NEAR Intents** — the
        wallet's NEAR address receives the intents.near credit once the solver
        settles the source-chain deposit.

        Two request shapes are accepted (see
        [`DepositIntentRequest`](#/components/schemas/DepositIntentRequest)):

        - **By asset id (preferred)** — `{ source_asset, destination_asset?,
          amount }`. The source chain is derived from the
          [`defuse_asset_id`](#/components/schemas/TokenInfo) prefix. This is
          the shape returned by `listTokens` and used by the dashboard.
        - **By chain + symbol (legacy)** — `{ chain, token?, amount }`. The
          coordinator resolves `(chain, symbol)` to an asset id via the
          1Click token catalog.

        If both shapes are present and disagree, `source_asset` wins and the
        coordinator logs a warning. `near` is a valid source chain — a
        NEAR-origin deposit returns a 64-char hex implicit account.

        Amounts are in the token's smallest unit. There's a small solver fee,
        so `amount_out` < `amount`.

        The returned `deposit_address` is chain-specific — see the
        [`DepositIntentResponse.deposit_address`](#/components/schemas/DepositIntentResponse)
        description for per-chain address formats.

        **Legacy alias:** `POST /wallet/v1/deposit-intent` still works and
        resolves to the same handler.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositIntentRequest'
            examples:
              bySourceAsset:
                summary: USDC on Base → NEAR USDC (preferred shape)
                value:
                  source_asset: nep141:base-0x833589fcd6edb6e08f4c7c32d4f71b54bda02913.omft.near
                  destination_asset: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
                  amount: '5000000'
              byChainAndToken:
                summary: USDC on Ethereum (legacy shape)
                value:
                  chain: ethereum
                  token: USDC
                  amount: '5000000'
              nearNative:
                summary: NEAR-origin deposit (returns a NEAR implicit account)
                value:
                  source_asset: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
                  amount: '5000000'
      responses:
        '200':
          description: Deposit intent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositIntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/deposit-intent:
    post:
      tags: [Wallet]
      operationId: createDepositIntent
      deprecated: true
      summary: '[Deprecated] Create a cross-chain deposit (use /wallet/v1/intents/deposit/cross-chain)'
      description: |
        **Deprecated legacy alias.** Use
        [`intentsDepositCrossChain`](#tag/Wallet/operation/intentsDepositCrossChain)
        (`POST /wallet/v1/intents/deposit/cross-chain`) instead. This path is
        retained for backward compatibility and resolves to the same handler
        with identical request/response shapes — existing clients continue to
        work unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositIntentRequest'
      responses:
        '200':
          description: Deposit intent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositIntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/deposit/cross-chain/status:
    get:
      tags: [Wallet]
      operationId: getCrossChainDepositStatus
      summary: Poll a cross-chain deposit's status
      description: |
        Returns the live status of a cross-chain deposit (from
        `intentsDepositCrossChain`), lazily refreshing it against 1Click on each
        call.

        **Legacy alias:** `GET /wallet/v1/deposit-status` still works and
        resolves to the same handler.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: The `intent_id` from `intentsDepositCrossChain`.
      responses:
        '200':
          description: Deposit status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/deposit-status:
    get:
      tags: [Wallet]
      operationId: getDepositStatus
      deprecated: true
      summary: '[Deprecated] Poll a cross-chain deposit''s status (use /wallet/v1/intents/deposit/cross-chain/status)'
      description: |
        **Deprecated legacy alias.** Use
        [`getCrossChainDepositStatus`](#tag/Wallet/operation/getCrossChainDepositStatus)
        (`GET /wallet/v1/intents/deposit/cross-chain/status`) instead. Retained
        for backward compatibility; resolves to the same handler.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: The `intent_id` from the cross-chain deposit call.
      responses:
        '200':
          description: Deposit status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/deposit/cross-chain/list:
    get:
      tags: [Wallet]
      operationId: listCrossChainDeposits
      summary: List this wallet's cross-chain deposits
      description: |
        Returns the wallet's cross-chain deposits (from
        `intentsDepositCrossChain`), most recent first. Each entry has the same
        shape as `getCrossChainDepositStatus`, but the list endpoint does NOT
        lazily refresh in-flight deposits against 1Click — statuses are read
        straight from storage as last persisted. Poll
        `getCrossChainDepositStatus` for a single deposit when you need its live
        status.

        **Legacy alias:** `GET /wallet/v1/deposits` still works and resolves to
        the same handler.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Max rows to return (server caps at 100). Defaults to 20.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Number of rows to skip for pagination.
      responses:
        '200':
          description: Cross-chain deposits (most recent first)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepositStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/deposits:
    get:
      tags: [Wallet]
      operationId: listDeposits
      deprecated: true
      summary: '[Deprecated] List cross-chain deposits (use /wallet/v1/intents/deposit/cross-chain/list)'
      description: |
        **Deprecated legacy alias.** Use
        [`listCrossChainDeposits`](#tag/Wallet/operation/listCrossChainDeposits)
        (`GET /wallet/v1/intents/deposit/cross-chain/list`) instead. Retained
        for backward compatibility; resolves to the same handler.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Max rows to return (server caps at 100). Defaults to 20.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Number of rows to skip for pagination.
      responses:
        '200':
          description: Cross-chain deposits (most recent first)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepositStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Payment checks — agent-to-agent gasless payments via ephemeral intents keys
  # ============================================================================
  /wallet/v1/payment-check/create:
    post:
      tags: [Wallet]
      operationId: createPaymentCheck
      summary: Create a payment check (bearer-claimable transfer)
      description: |
        Creates a "payment check": the wallet's intents balance is moved to a
        fresh ephemeral intents account (gaslessly, via the solver relay), and
        the ephemeral account's private key is returned as `check_key`. Whoever
        holds `check_key` can `claimPaymentCheck` the funds; the creator can
        `reclaimPaymentCheck` them back. Fund the wallet's intents balance first
        via `intentsDeposit`.

        **Security model:** this is NOT gated by multisig. The keystore signs the
        transfer-to-ephemeral only when the wallet policy grants the default-DENY
        `payment_check` capability and the per-transaction amount is within the
        capability's per-token amount cap. `claimPaymentCheck` / `reclaimPaymentCheck`
        are signed by the ephemeral `check_key` itself (NEP-413), never by the
        keystore.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckCreateRequest'
            example:
              token: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
              amount: '1000000'
              memo: coffee
              expires_in: 86400
      responses:
        '200':
          description: Payment check created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/batch-create:
    post:
      tags: [Wallet]
      operationId: batchCreatePaymentChecks
      summary: Create up to 10 payment checks in one call
      description: |
        Creates between 1 and 10 payment checks in a single request, each backed
        by its own ephemeral intents account. The wallet's intents balance must
        cover the sum per token across the batch.

        **Security model:** identical to `createPaymentCheck` — gated by the
        default-DENY `payment_check` capability and its per-transaction amount cap
        (NOT multisig); each check's claim/reclaim is signed by that check's
        ephemeral key, not the keystore.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckBatchCreateRequest'
            example:
              checks:
                - token: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
                  amount: '1000000'
                  memo: invoice-1
                - token: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
                  amount: '2000000'
      responses:
        '200':
          description: Payment checks created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckBatchCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/claim:
    post:
      tags: [Wallet]
      operationId: claimPaymentCheck
      summary: Claim a payment check
      description: |
        Claims the funds held by a payment check into the authenticated wallet's
        intents balance. Signed by the ephemeral `check_key` (NEP-413), so the
        caller need only hold the key. Omit `amount` for a full claim, or pass a
        partial amount (minimal units) to claim part and leave the remainder
        claimable. Expired or already-settled checks are rejected.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckClaimRequest'
            example:
              check_key: 9f8a7b6c5d4e3f2a1b0c9d8e7f6a5b4c3d2e1f0a9b8c7d6e5f4a3b2c1d0e9f8a
      responses:
        '200':
          description: Claim settled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckClaimResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/reclaim:
    post:
      tags: [Wallet]
      operationId: reclaimPaymentCheck
      summary: Reclaim an unclaimed payment check
      description: |
        Returns the (remaining) funds of a payment check the wallet created back
        to the wallet's own intents balance — used to cancel/expire a check that
        was never claimed. Identified by `check_id` and scoped to the creating
        wallet. Signed by the ephemeral check key (re-derived inside the
        keystore), not the keystore's wallet key. Omit `amount` for a full
        reclaim or pass a partial amount.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckReclaimRequest'
            example:
              check_id: 3a2b1c0d-4e5f-6a7b-8c9d-0e1f2a3b4c5d
      responses:
        '200':
          description: Reclaim settled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckReclaimResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/status:
    get:
      tags: [Wallet]
      operationId: getPaymentCheckStatus
      summary: Get a payment check's status
      description: |
        Returns the full lifecycle state of a payment check the wallet created,
        identified by `check_id`. `status` is normalized to `expired` when an
        `unclaimed` check is past its `expires_at`.
      parameters:
        - name: check_id
          in: query
          required: true
          schema:
            type: string
          description: The `check_id` returned by `createPaymentCheck`.
      responses:
        '200':
          description: Payment check status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/list:
    get:
      tags: [Wallet]
      operationId: listPaymentChecks
      summary: List the wallet's payment checks
      description: |
        Lists payment checks created by the authenticated wallet, most recent
        first. Optionally filter by `status` (including the virtual `expired`
        status: unclaimed checks past their `expires_at`).
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: >-
            Optional status filter. Accepts stored statuses (`unclaimed`,
            `claimed`, `partially_claimed`, `reclaimed`, `partially_reclaimed`)
            plus the virtual `expired` (unclaimed + past expiry).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Max rows to return (server caps at 100). Defaults to 50.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Number of rows to skip for pagination.
      responses:
        '200':
          description: Payment checks (most recent first)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/peek:
    post:
      tags: [Wallet]
      operationId: peekPaymentCheck
      summary: Inspect a payment check by its key (without claiming)
      description: |
        Reads a payment check's on-chain balance and metadata using its
        `check_key`, without moving any funds. Use this before
        `claimPaymentCheck` to see what a key is worth. Returns the live
        on-chain `balance` of the ephemeral account plus the stored `token` /
        `memo` / `status` / `expires_at`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckPeekRequest'
            example:
              check_key: 9f8a7b6c5d4e3f2a1b0c9d8e7f6a5b4c3d2e1f0a9b8c7d6e5f4a3b2c1d0e9f8a
      responses:
        '200':
          description: Payment check snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckPeekResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/sign-message:
    post:
      tags: [Wallet]
      operationId: signMessage
      summary: Sign a generic NEP-413 message
      description: |
        Signs a NEP-413 message with the wallet's NEAR key (e.g. dApp login).
        Gated by the `sign_message` capability: `allowed_recipients` is a
        default-DENY allowlist of verifier recipients, and `intents.near` /
        `intents.far` are always excluded. Policy and freeze still apply — a
        frozen wallet cannot sign.

        **`format` is now NEP-413 only.** `format=raw` is **rejected** with
        `400 bad_request` — OutLayer NEAR-key auth (the old raw-ed25519
        `auth:`/`register:`/`api-key:` token) moved to
        [`POST /wallet/v1/auth-sign`](#tag/Wallet/operation/authSign), which
        builds the challenge with a fresh server timestamp. This is NOT OutLayer
        auth signing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignMessageRequest'
            example:
              message: 'login:myapp:1716200000'
              recipient: myapp.example
              format: nep413
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/auth-sign:
    post:
      tags: [Wallet]
      operationId: authSign
      summary: Sign an OutLayer NEAR-key auth challenge (Bearer / register / api-key)
      description: |
        Produces the OutLayer authentication signature used to construct a
        `Bearer near:` token, or to authenticate `POST /register` /
        `PUT /wallet/v1/api-key` from a deterministic wallet's own NEAR key.

        The keystore **builds** the exact challenge string
        `<prefix>:<seed>:<ts>` (where `prefix` is `auth` for `bearer`, else the
        purpose) with a **fresh server timestamp** and signs it raw ed25519. The
        client does NOT supply or control the timestamp — the fresh `ts` is what
        the coordinator's verifier requires. Send the returned `auth_message`
        verbatim.

        This is the replacement for the old
        `POST /wallet/v1/sign-message {format:"raw"}`. It maps to an always-allowed,
        non-fund `Op::Auth` (domain-separated from a tx hash) — no capability and
        no multisig gate it, but a frozen wallet still cannot sign.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthSignRequest'
            examples:
              bearer:
                summary: Bearer-near auth token
                value:
                  purpose: bearer
                  seed: my-app-session
              register:
                summary: Authenticate POST /register
                value:
                  purpose: register
                  seed: my-app-session
              apiKey:
                summary: Authenticate PUT /api-key
                value:
                  purpose: api-key
                  seed: my-app-session
      responses:
        '200':
          description: Auth signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  # ============================================================================
  # Requests (async tracking)
  # ============================================================================
  /wallet/v1/requests:
    get:
      tags: [Requests]
      operationId: listRequests
      summary: List async wallet requests
      parameters:
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RequestType'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RequestStatus'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Request list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/requests/{id}:
    get:
      tags: [Requests]
      operationId: getRequest
      summary: Get a single request's status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Policy
  # ============================================================================
  /wallet/v1/policy:
    get:
      tags: [Policy]
      operationId: getPolicy
      summary: Get current decrypted policy
      description: |
        Returns the wallet's current policy (decrypted by the keystore TEE),
        plus the current usage counters used by velocity-limit checks.
      responses:
        '200':
          description: Current policy + usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/encrypt-policy:
    post:
      tags: [Policy]
      operationId: encryptPolicy
      summary: Encrypt a policy for on-chain storage
      description: |
        Sends a policy JSON to the keystore TEE for encryption. The returned
        `encrypted_base64` is what gets stored in NEAR via
        `store_wallet_policy(...)` after the keystore signs it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncryptPolicyRequest'
      responses:
        '200':
          description: Encrypted policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/sign-policy:
    post:
      tags: [Policy]
      operationId: signPolicy
      summary: Sign an encrypted policy (for on-chain submission)
      description: |
        The keystore signs `SHA256(encrypted_data)` with the wallet's key. The
        signature + encrypted data + public key form the payload for the
        on-chain `store_wallet_policy(...)` call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignPolicyRequest'
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/invalidate-cache:
    post:
      tags: [Policy]
      operationId: invalidatePolicyCache
      summary: Invalidate negative policy cache
      description: |
        Forces the coordinator to drop its cached `no_policy` flag for a wallet.
        Call this after submitting `store_wallet_policy(...)` on-chain so that
        subsequent operations pick up the new policy without waiting for the
        5-minute TTL to expire.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvalidateCacheRequest'
      responses:
        '200':
          description: Cache cleared
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Approvals (multisig)
  # ============================================================================
  /wallet/v1/pending_approvals:
    get:
      tags: [Approvals]
      operationId: listPendingApprovals
      summary: List pending multisig approvals
      responses:
        '200':
          description: Pending approvals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingApprovalsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/approval/{id}:
    get:
      tags: [Approvals]
      operationId: getApprovalDetail
      summary: Get a single pending approval's detail (public, read-only)
      description: |
        Returns non-sensitive detail for one pending approval — used by the
        dashboard approval-detail page. No auth: rate-limited by IP, returns only
        public metadata. The `wallet_pubkey` and `request_hash` are the values an
        approver binds into the NEP-413 vote message
        (`approve:{id}:{wallet_pubkey}:{request_hash}` /
        `reject:{id}:{wallet_pubkey}:{request_hash}`); the dashboard renders `op`.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Approval detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/approve/{id}:
    post:
      tags: [Approvals]
      operationId: approveRequest
      summary: Approve a pending action (NEP-413 signed)
      description: |
        Submits an approver's NEP-413 signature for a pending action. When the
        approval threshold is reached, the action auto-executes. No API key
        required — auth is established by the NEP-413 signature in the body.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Nep413Auth'
      responses:
        '200':
          description: Approval recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApproveResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/reject/{id}:
    post:
      tags: [Approvals]
      operationId: rejectRequest
      summary: Reject a pending action (NEP-413 signed)
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectRequest'
      responses:
        '200':
          description: Reject vote recorded (request cancelled if from a real approver)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RejectResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Audit
  # ============================================================================
  /wallet/v1/audit:
    get:
      tags: [Audit]
      operationId: listAuditEvents
      summary: Event history for the wallet
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Event list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

# ==============================================================================
# Components
# ==============================================================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: wk_<32-hex-chars>
      description: |
        API key returned by `POST /register`. Format `wk_<hex>`. Pass as
        `Authorization: Bearer wk_...`.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
      description: |
        Optional idempotency token. Resubmitting a write request with the same
        key returns the original result without re-execution. Recommended for
        clients that retry on network failure.

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            bad_request:
              value: { error: bad_request, message: "amount must be positive" }
            invalid_address:
              value: { error: invalid_address }
            unsupported_chain:
              value: { error: unsupported_chain }
            unsupported_token:
              value: { error: unsupported_token }
            insufficient_balance:
              value: { error: insufficient_balance }
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missing_auth:
              value: { error: missing_auth }
            invalid_api_key:
              value: { error: invalid_api_key }
            timestamp_expired:
              value: { error: timestamp_expired }
    Forbidden:
      description: Action blocked by policy or wallet state
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            policy_denied:
              value: { error: policy_denied, message: "daily limit exceeded" }
            wallet_frozen:
              value: { error: wallet_frozen }
            not_approver:
              value: { error: not_approver }
    NotFound:
      description: Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            request_not_found:
              value: { error: request_not_found }
            approval_not_found:
              value: { error: approval_not_found }
    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            rate_limited:
              value: { error: rate_limited }
    InternalError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal_error:
              value: { error: internal_error }
    ServiceUnavailable:
      description: >-
        Unavailable — either permanently on this deployment or transiently.
        `service_unavailable`: feature not enabled/configured (e.g. the
        `/wallet/v1/confidential/*` routes when `ENABLE_CONFIDENTIAL_INTENTS`
        is off or the confidential upstream is not configured) — do not retry.
        `keystore_error`: the TEE keystore (signing / key derivation) was
        unreachable or rejected the request — transient, retry after the
        `Retry-After` header. `confidential_jwt_expired`: the confidential
        per-account JWT was rejected by the 1Click upstream and
        re-authentication also failed — transient, retry after `Retry-After`.
        (Transient upstream failures use 503 rather than 502 because
        Cloudflare replaces origin 502/504 responses with its own HTML error
        page, hiding the JSON body from clients.)
      headers:
        Retry-After:
          description: Present on transient failures (`keystore_error`, `confidential_jwt_expired`) — seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            service_unavailable:
              value:
                error: service_unavailable
                message: Confidential intents are not configured on this deployment
            keystore_error:
              value: { error: keystore_error }
            confidential_jwt_expired:
              value: { error: confidential_jwt_expired }
    OnChainTxFailed:
      description: >-
        The transaction was signed and broadcast — the network accepted it —
        but its on-chain execution REVERTED. `tx_hash` is real (the tx is on
        chain); no state-changing effect happened. Do NOT retry:
        re-broadcasting duplicates an already-recorded transaction and burns
        gas again. `message` is the decoded FunctionCallError / panic string,
        `failure` the raw NEAR execution-failure JSON. (422 rather than 502
        because Cloudflare replaces origin 502/504 responses with its own HTML
        error page, which would hide this body from clients.)
        Scope: synchronous execution only. When the operation goes through the
        multisig approval flow instead, execution happens in the background
        after the threshold is met — a revert there surfaces as
        `status: "failed"` via `GET /wallet/v1/requests/{request_id}` and the
        `request_completed` webhook, never as a synchronous 422.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OnChainTxFailedError'
          examples:
            onchain_tx_failed:
              value:
                error: onchain_tx_failed
                message: 'Exceeded the prepaid gas.'
                tx_hash: 8YyQnDxNSgrtZtAhDwHRfcpyTAcqGJ4kdmSf7eVLh2dG
                failure:
                  ActionError:
                    index: 0
                    kind:
                      FunctionCallError:
                        ExecutionError: 'Exceeded the prepaid gas.'

  schemas:
    # ----- Primitives -----
    Chain:
      type: string
      enum: [near, ethereum, polygon, base, arbitrum, optimism, bsc, avalanche, solana, bitcoin]
      description: >-
        Supported chain identifier. The EVM chains (ethereum, polygon, base,
        arbitrum, optimism, bsc, avalanche) all share ONE derived address (a
        single secp256k1 key) and are signable via `/wallet/v1/evm/*`.
        `solana` / `bitcoin` can be derived in the keystore but are not yet
        serviced by wallet v1.

    RequestType:
      type: string
      description: |
        Tracked async request / policy transaction type. `withdraw` is a
        same-chain intents withdrawal; `cross_chain_withdraw` is a separate type
        for 1Click bridge-out (a policy must list it explicitly — it is NOT
        folded into `withdraw`). `confidential` covers every confidential-shard
        op (shield / unshield / withdraw / transfer / swap). The deposit family
        (`intents/deposit`, `storage-deposit`, cross-chain deposit) all gate as
        `call`.
      enum:
        - call
        - transfer
        - withdraw
        - cross_chain_withdraw
        - deposit
        - swap
        - confidential

    RequestStatus:
      type: string
      enum:
        - pending_deposit
        - processing
        - success
        - failed
        - refunded
        - pending_approval
        - approved
        - rejected

    ErrorCode:
      type: string
      enum:
        - missing_auth
        - invalid_api_key
        - missing_wallet_id
        - missing_signature
        - timestamp_expired
        - wallet_frozen
        - policy_denied
        - not_approver
        - insufficient_balance
        - invalid_address
        - rate_limited
        - unsupported_chain
        - unsupported_token
        - request_not_found
        - approval_not_found
        - already_approved
        - bad_request
        - conflict
        - duplicate_idempotency_key
        - onchain_tx_failed
        - internal_error
        - keystore_error
        - service_unavailable
        - confidential_jwt_expired

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
        details:
          type: object
          additionalProperties: {}

    OnChainTxFailedError:
      type: object
      required: [error, tx_hash]
      description: |
        Body of the 422 `onchain_tx_failed` response. Unlike `ErrorResponse`,
        it carries the real `tx_hash` (the transaction IS on chain) and the raw
        NEAR execution-failure JSON.
      properties:
        error:
          type: string
          const: onchain_tx_failed
        message:
          type: string
          description: Decoded FunctionCallError / contract panic string.
        tx_hash:
          type: string
          description: Hash of the broadcast transaction. Real — the tx is on chain.
        failure:
          description: Raw NEAR execution-failure JSON (e.g. `ActionError`).

    # ----- Registration -----
    RegisterRequest:
      type: object
      description: |
        For the common case (anonymous wallet on OutLayer's shared master),
        send empty `{}`. Optional fields enable advanced flows:

        - `vault_id`: bind this wallet to an existing customer-owned vault,
          so the wallet's master is derived through the vault's per-customer
          MPC-derived master instead of OutLayer's shared default. The vault
          must already be deployed and verified — **vault deployment is not
          done through this endpoint**. Use the dashboard
          (https://outlayer.fastnear.com/vault) or the CLI
          (`outlayer vault init`) to deploy. Reference:
          https://outlayer.fastnear.com/docs/vaults
        - `account_id` + `pubkey` + `message` + `signature`: bind the wallet
          to a verified NEAR account via NEP-413 proof-of-ownership. Used
          by clients that want operational keys (`wk_...`) tied to a real
          NEAR account.
      properties:
        account_id:
          type: string
          description: NEAR account ID to bind the wallet to (requires NEP-413 signature).
        seed:
          type: string
          description: Reserved for deterministic-wallet derivation. Most callers leave unset.
        pubkey:
          type: string
          description: NEP-413 signer pubkey (paired with `account_id` + `signature`).
        message:
          type: string
          description: NEP-413 message that was signed.
        signature:
          type: string
          description: NEP-413 signature over `message`.
        vault_id:
          type: string
          description: |
            ID of a deployed and verified customer vault (e.g. `vault.alice.near`).
            Binding is permanent — the resulting API key is tied to this vault
            for its lifetime. All subsequent operations on the API key
            automatically derive keys through the per-vault master; you do
            NOT pass `vault_id` on every call.

    RegisterResponse:
      type: object
      required: [wallet_id, near_account_id]
      properties:
        wallet_id:
          type: string
          format: uuid
        api_key:
          type: string
          description: Shown once. Not retrievable later — save it now.
        near_account_id:
          type: string
        handoff_url:
          type: string
          format: uri
          description: Dashboard URL where the controller sets policy.
        trial:
          $ref: '#/components/schemas/TrialInfo'

    TrialInfo:
      type: object
      properties:
        calls_remaining:
          type: integer
        expires_at:
          type: string
          format: date-time
        limits:
          type: object
          properties:
            max_instructions:
              type: integer
            max_execution_seconds:
              type: integer
            max_memory_mb:
              type: integer

    # ----- Wallet read -----
    AddressResponse:
      type: object
      required: [wallet_id, chain, address, public_key]
      properties:
        wallet_id:
          type: string
        chain:
          $ref: '#/components/schemas/Chain'
        address:
          type: string
        public_key:
          type: string
        vault_id:
          type: [string, 'null']

    BalanceResponse:
      type: object
      required: [balance, token, account_id]
      properties:
        balance:
          type: string
          description: Amount in token's smallest unit.
        token:
          type: string
        account_id:
          type: string

    TokenInfo:
      type: object
      required: [id, symbol, chains, decimals]
      properties:
        id:
          type: string
        symbol:
          type: string
        chains:
          type: array
          items:
            $ref: '#/components/schemas/Chain'
        decimals:
          type: integer
        defuse_asset_id:
          type: string

    TokensResponse:
      type: object
      required: [tokens]
      properties:
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/TokenInfo'

    # ----- Wallet write -----
    CallRequest:
      type: object
      required: [receiver_id, method_name]
      properties:
        receiver_id:
          type: string
        method_name:
          type: string
        args:
          type: object
          additionalProperties: {}
          description: Method arguments as a JSON object. Mutually exclusive with `args_base64`.
        args_base64:
          type: string
          description: Pre-encoded base64 args. Use for non-JSON encodings.
        gas:
          type: string
          description: Gas budget in TGas as a string. Defaults to `30000000000000` (30 TGas) server-side.
        deposit:
          type: string
          description: Attached NEAR deposit in yoctoNEAR. Defaults to `0` server-side.

    CallResponse:
      type: object
      required: [request_id, status]
      properties:
        request_id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/RequestStatus'
        tx_hash:
          type: [string, 'null']
        result:
          type: [object, 'null']
          additionalProperties: {}
        approval_id:
          type: [string, 'null']
          format: uuid
        required:
          type: [integer, 'null']
        approved:
          type: [integer, 'null']
        request_hash:
          type: [string, 'null']
          description: >-
            Present on `pending_approval` — sha256(canonical_json(op)); sign to
            approve.

    TransferRequest:
      type: object
      description: |-
        Native transfer on a single chain. Canonical recipient field is
        `to` — matches `WithdrawRequest.to` and the dashboard. The legacy
        field name `receiver_id` is still accepted as an alias for
        backward compatibility with clients that predate the rename;
        sending BOTH in the same body is rejected as a deserialization
        error.
      required: [to, amount]
      properties:
        chain:
          allOf:
            - $ref: '#/components/schemas/Chain'
          description: Chain to transfer on. Defaults to `near` server-side.
        to:
          type: string
          description: |-
            Recipient account id on `chain`. For NEAR, accepts both named
            accounts (`alice.near`) and 64-char implicit hex accounts.
          example: alice.near
        receiver_id:
          type: string
          deprecated: true
          description: |-
            **Deprecated alias for `to`.** Existing clients sending
            `receiver_id` continue to work; new clients should use `to`.
            Sending both `to` and `receiver_id` in the same body is
            rejected with a 400.
        amount:
          type: string
          description: Amount in the chain's smallest unit (yoctoNEAR, wei, …).

    DeleteRequest:
      type: object
      description: |-
        Irreversibly delete the wallet account and sweep its full NEAR balance
        to `beneficiary` (NEAR's native `DeleteAccount`).
      required: [beneficiary]
      properties:
        beneficiary:
          type: string
          description: |-
            Account that receives the deleted wallet's entire remaining
            balance. Must not be the wallet's own account.
          example: treasury.near
        chain:
          allOf:
            - $ref: '#/components/schemas/Chain'
          description: Chain the account lives on. Defaults to `near` server-side.

    DeleteResponse:
      type: object
      required: [request_id, status, beneficiary]
      properties:
        request_id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/RequestStatus'
        tx_hash:
          type: [string, 'null']
        beneficiary:
          type: string
        approval_id:
          type: [string, 'null']
          format: uuid
        required:
          type: [integer, 'null']
        approved:
          type: [integer, 'null']
        request_hash:
          type: [string, 'null']
          description: >-
            Present on `pending_approval` — sha256(canonical_json(op)); sign to
            approve.

    StorageDepositRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
          description: NEP-141 token contract (e.g. `wrap.near`). A `nep141:` prefix is stripped if present.
        account_id:
          type: [string, 'null']
          description: Account to register. Defaults to the wallet's own NEAR address.

    StorageDepositResponse:
      type: object
      description: |
        Response for `storageDeposit`. `storage_deposit` is multisig-capable: on
        a multisig wallet that requires approval the response carries
        `status=pending_approval` with the `approval_id` / `required` / `approved`
        / `request_hash` fields populated (same shape as `CallResponse`); the
        deposit executes only after the approval threshold is met. On the direct
        path those fields are omitted and the single-sig response is byte-identical
        to before.
      required: [request_id, status, token, account_id, already_registered]
      properties:
        request_id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/RequestStatus'
        tx_hash:
          type: [string, 'null']
        token:
          type: string
        account_id:
          type: string
        already_registered:
[...]
