openapi: 3.1.0
info:
  title: OutLayer API
  version: 0.1.0-alpha.1
  summary: HTTP API for OutLayer custody wallets and policy enforcement
  description: |
    OutLayer Agent Custody — multi-chain wallets for AI agents with TEE-enforced
    policy, multisig approvals, audit log, gasless cross-chain transfers via
    NEAR Intents, and off-chain EVM signing (EIP-712 typed data, EIP-191
    personal_sign, and client-serialized raw transactions).

    Private keys live exclusively inside an Intel TDX TEE and are derived from
    NEAR MPC. The wallet owner sets policy (spending limits, whitelists,
    multisig, freeze) — all enforced inside the TEE before signing.

    See [CUSTODY docs](https://outlayer.fastnear.com/docs/agent-custody) for the
    architectural overview and [@outlayer/sdk](https://www.npmjs.com/package/@outlayer/sdk)
    for the TypeScript client.
  license:
    name: MIT
    identifier: MIT
  contact:
    name: OutLayer
    url: https://outlayer.fastnear.com

servers:
  - url: https://api.outlayer.fastnear.com
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Registration
    description: Create a new wallet and obtain an API key.
  - name: Execution
    description: >-
      Run a project. A connector is an ordinary project we curated and priced,
      reached through the same route; what being one adds — an `operation` it
      must name, a price it must pay, an owner's secret it may ask for — is
      decided from the project id, not from the way in. Synchronous by default;
      send `async` and poll for anything longer than a few seconds.
  - name: Subscriptions
    description: >-
      Payment keys, the allowance a subscription buys, and the secret an owner
      leaves for their agent. Only money pays a connector's author: a call
      covered by an allowance costs the caller nothing at the moment of the
      call, so nothing passes through.
  - name: Wallet
    description: >-
      Multi-chain custody operations — transfer, withdraw, swap, balance, and
      signing, including NEAR (NEP-413) message signing and off-chain EVM
      signing (EIP-712 typed data, EIP-191 personal_sign, and client-serialized
      raw transactions).
  - name: Confidential
    description: >-
      Confidential intents — move balances between the public intents shard, the
      Defuse confidential shard, and external chains. The confidential balance
      ledger is real on-chain state on a separate **private** shard (the
      `intents.far` contract, distinct from public `intents.near`); it has no
      public RPC, so you cannot read it externally, but it is an auditable smart
      contract. Only SHIELD/UNSHIELD touch the public chain. Requires
      `ENABLE_CONFIDENTIAL_INTENTS` + the confidential partner agreement on the
      deployment, else every route returns 503. See the agent integration
      guide referenced under `externalDocs` for the full mental model, privacy
      recipes, and curl walkthroughs.
    externalDocs:
      description: >-
        Confidential intents — agent integration guide (mental model, privacy
        recipes, curl walkthroughs)
      url: https://github.com/out-layer/coordinator/blob/main/docs/CONFIDENTIAL_INTENTS.md
  - name: Policy
    description: Encrypted on-chain policy lifecycle (read, encrypt, sign, cache).
  - name: Approvals
    description: Multisig approval workflows for actions that exceed policy thresholds.
  - name: Audit
    description: Event history for the wallet.
  - name: Requests
    description: Async operation status tracking.
  - name: Meta
    description: Token catalog and helpers.

paths:
  # ============================================================================
  # Registration
  # ============================================================================
  /register:
    post:
      tags: [Registration]
      operationId: registerWallet
      summary: Register a new wallet
      description: |
        Creates a new multi-chain wallet and returns an API key. For most
        callers, send `{}` — an anonymous wallet is created and an API key is
        returned in `api_key` (shown once, not retrievable later).

        Optional fields enable advanced registration paths:
        - `account_id` + `pubkey` + `message` + `signature`: bind the wallet to
          a NEAR account via NEP-413 proof-of-ownership.
        - `vault_id`: bind to a customer-owned vault for sovereign custody (see
          vault docs).

        Rate-limited: 30 requests per minute per IP.
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              anonymous:
                summary: Anonymous wallet (most common)
                value: {}
              bound_to_near_account:
                summary: Bind to NEAR account via NEP-413
                value:
                  account_id: alice.near
                  pubkey: ed25519:7BcBZ9Z...
                  message: "register:1716200000"
                  signature: ed25519:5K3F...
      responses:
        '200':
          description: Wallet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
              examples:
                anonymous:
                  value:
                    wallet_id: 9c3c9e10-1c1f-4f5e-9c4a-1d7b9a8f3c20
                    api_key: wk_2a8b1f3c4d5e6789abcdef0123456789
                    near_account_id: 9c3c9e101c1f4f5e9c4a1d7b9a8f3c20
                    handoff_url: https://outlayer.fastnear.com/wallet?api_key=wk_2a8b...
                    trial:
                      calls_remaining: 100
                      expires_at: '2026-06-20T00:00:00Z'
                      limits:
                        max_instructions: 100000000
                        max_execution_seconds: 30
                        max_memory_mb: 64
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Wallet — read
  # ============================================================================
  /wallet/v1/address:
    get:
      tags: [Wallet]
      operationId: getAddress
      summary: Derive wallet address for a chain
      description: |
        Returns the deterministically-derived address for the wallet on the
        requested chain. Same `wallet_id` always produces the same addresses
        across chains.

        For `chain=near` the response also carries the two Agent Connect
        identities: `executor_account_id` (always equal to `address` — the
        wallet's implicit account, which signs and pays gas) and
        `asset_account_id` (the bound named account, `null` when the wallet
        has no binding). They are separate fields on purpose: product balances
        belong to the asset account, while signing, predecessor checks and gas
        key off the executor.
      parameters:
        - name: chain
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Chain'
      responses:
        '200':
          description: Address derived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
              example:
                wallet_id: 9c3c9e10-1c1f-4f5e-9c4a-1d7b9a8f3c20
                chain: near
                address: 9c3c9e101c1f4f5e9c4a1d7b9a8f3c20
                public_key: ed25519:7BcBZ9Z...
                vault_id: null
                asset_account_id: agent.tla
                executor_account_id: 9c3c9e101c1f4f5e9c4a1d7b9a8f3c20
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/balance:
    get:
      tags: [Wallet]
      operationId: getBalance
      summary: Read balance
      description: |
        Returns the balance for a token on the requested chain. Currently only
        `chain=near` is supported for native balance reads; cross-chain balances
        should be read from the upstream chain directly.

        Set `source=intents` to read the wallet's intents.near balance
        (`mt_balance_of`) instead of the on-chain account balance.

        By default this endpoint answers for the WALLET'S OWN account (the
        executor), bound or not — its meaning never changes when a binding is
        added. Pass `account=asset` to ask about the bound account instead;
        that path is identical to `GET /wallet/v1/binding/balance`, which
        remains available.

        The default is deliberately NOT the binding. Following it would change,
        with no warning, which account an existing caller's number describes —
        including for `personal_account` bindings, whose owners never asked for
        Agent Connect semantics. `asset` is explicit.

        The rule for both sides of the API is one sentence: everything under
        `/wallet/v1/binding/` is the bound account, everything else is the
        wallet itself unless `account=asset` says otherwise.
        `/wallet/v1/transfer` moves the wallet's own funds;
        `/wallet/v1/binding/transfer` moves the bound account's.

        `account=asset` on a wallet with no ACTIVE binding is refused rather
        than answered with the executor's figure under an asset label.

        `source=intents` belongs to the executor and only the executor: an
        intents.near deposit is credited to whoever signed it, so the bound
        account has no intents balance and never will. Combining it with
        `account=asset` is refused.

        The response names the identity it describes in `account`.
      parameters:
        - name: account
          in: query
          required: false
          description: >-
            Which of a bound wallet's two identities the balances describe.
            Omitted means `executor`, unchanged from before this parameter
            existed. `asset` requires an ACTIVE binding and is refused
            otherwise.
          schema:
            type: string
            enum: [asset, executor]
            default: executor
        - name: chain
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Chain'
            default: near
        - name: token
          in: query
          required: false
          schema:
            type: string
          description: Token ID (`nep141:<contract>` or `native`).
        - name: source
          in: query
          required: false
          schema:
            type: string
            enum: [chain, intents]
            default: chain
      responses:
        '200':
          description: Balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
              example:
                balance: '1000000000000000000000000'
                token: NEAR
                account_id: 9c3c9e101c1f4f5e9c4a1d7b9a8f3c20
                account: executor
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/tokens:
    get:
      tags: [Meta]
      operationId: listTokens
      summary: List supported tokens
      description: |
        Returns the token catalog supported for swaps and cross-chain withdraws
        via NEAR Intents. Token IDs are typed as `nep141:<contract>` and map to
        each chain via `defuse_asset_id`.
      responses:
        '200':
          description: Token list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokensResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Agent Connect binding (custody wallet ↔ named asset account)
  # ============================================================================
  /wallet/v1/binding:
    put:
      tags: [Wallet]
      operationId: putBinding
      summary: Register the account this wallet operates
      description: |
        Records the one-to-one binding between this custody wallet and an
        on-chain account, in one of two mutually exclusive modes (`kind`):

        * `hos_lease` (default) — a leased, keyless asset account
          (e.g. `agent.tla`). `impl_version` is REQUIRED and gated against
          the supported registry; `owner_account_id` is required.
        * `personal_account` — the caller's own named account
          (e.g. `user.near`) with the upstream no-sign wallet contract the
          owner installs personally (see `GET /wallet/v1/binding/setup`).
          `impl_version` is REJECTED — this mode is versioned by the
          account's wasm code hash, which the client never declares.
          `owner_account_id` is optional and must equal `asset_account_id`.

        The response returns `executor_account_id` — the identity to register
        in the account's extension set (and, for `hos_lease`, to provision a
        spend grant for).

        Guarantees: binding is one-to-one, and a second call naming a
        DIFFERENT asset account is rejected rather than silently rebinding
        (re-PUTting the same pair in the same mode is idempotent). An
        unsupported `impl_version` is rejected here, at binding time, not at
        first execution — that refusal is terminal, do not retry.

        The binding itself authorizes nothing: `binding_status` stays `pending`
        until the executor is first observed live in the extension set on
        chain, and nothing can be executed against the account until its owner
        (for `hos_lease`, the partner's provisioning) puts the executor there.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutBindingRequest'
      responses:
        '200':
          description: Binding recorded (or the identical existing binding)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: The wallet or the asset account is already bound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags: [Wallet]
      operationId: getBinding
      summary: Read the wallet's binding
      description: |
        Returns the binding record, refreshed against the chain
        (`hos_agent_status` + `nft_item_info`), or 404 when the wallet has
        none. `binding_status` reflects OutLayer's view only — it does not
        attest that the executor is still in the control set, which can change
        without OutLayer being told. `gas_balance` is the executor's native
        NEAR in yoctoNEAR, so it can be topped up before a call fails rather
        than after.
      responses:
        '200':
          description: The binding record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: The wallet has no binding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Wallet]
      operationId: deleteBinding
      summary: End the binding
      description: |
        Ends the binding (revocation, transfer, sale, recovery, lease expiry).
        Idempotent — deleting a wallet with no binding is a success. Pending
        multisig approvals whose operation targets the asset account are
        cancelled rather than left completable; the wallet itself survives,
        only the binding ends.
      responses:
        '200':
          description: The binding is ended (or there was none)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBindingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/binding/events:
    post:
      tags: [Wallet]
      operationId: postBindingEvent
      summary: Notify OutLayer that a bound account changed
      description: |
        For the account provider (House of Stake) to call on revoke, transfer,
        recovery, freeze or lease change. Authorized by a shared secret in
        `X-Binding-Webhook-Secret`; answers `503` where no secret is
        configured.

        **The body is a hint, not an instruction.** A `revoked` event revokes
        nothing: OutLayer drops its cached view of the account and re-reads the
        chain, and the chain decides the resulting `binding_status`. A webhook
        is an assertion about somebody else's account, so a leaked or
        misconfigured secret must not become the ability to disable an agent by
        name.

        The endpoint is therefore an accelerator with no authority, and it is
        optional: without it, a change is noticed within seconds anyway,
        because every signing pre-flight reads the chain. Skipping it costs
        latency, never correctness.

        Answers `200` with `binding_status: unbound` for an account OutLayer
        does not operate, so an unknown account does not accumulate in a retry
        queue.
      security: []
      parameters:
        - name: X-Binding-Webhook-Secret
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset_account_id]
              properties:
                asset_account_id:
                  type: string
                  description: The account the news is about.
                event:
                  type: string
                  description: >-
                    What happened, in the sender's words (`revoked`,
                    `transferred`, `recovered`, `frozen`, …). Logged for
                    correlation; never acted on.
            example:
              asset_account_id: agent.tla
              event: revoked
      responses:
        '200':
          description: Re-read; the status the chain now implies
          content:
            application/json:
              schema:
                type: object
                required: [binding_status]
                properties:
                  binding_status:
                    type: string
                    enum: [pending, active, suspended, revoked, unbound]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          description: No binding-event secret is configured on this deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags: [Wallet]
      operationId: getBindingZones
      summary: Which account names this webhook may report on
      description: |
        The account-name suffixes `POST /wallet/v1/binding/events` accepts,
        read with the same `X-Binding-Webhook-Secret`. Ask before sending the
        first event for a newly opened zone: an account outside the list
        answers `binding_status: unbound` and nothing happens.

        An EMPTY list means no zone restriction — every name is accepted,
        subject to the rule that always applies (only leased bindings are
        reachable at all). Zones are editable by OutLayer without a restart, so
        a new one takes effect as soon as it is added.
      security: []
      parameters:
        - name: X-Binding-Webhook-Secret
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The zones currently accepted
          content:
            application/json:
              schema:
                type: object
                required: [zones]
                properties:
                  zones:
                    type: array
                    items:
                      type: string
              example:
                zones: [tla.near]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: No binding-event secret is configured on this deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /wallet/v1/binding/balance:
    get:
      tags: [Wallet]
      operationId: getBindingBalance
      summary: Read the BOUND account's balance
      description: |
        The balance of the account this wallet is bound to — where an Agent
        Connect wallet's product money lives. The wallet's own account (gas,
        and anything it holds itself) is `GET /wallet/v1/balance`.

        Requires an ACTIVE binding. A `pending` one answers 400 saying so: it
        authorizes nothing, and the executor is not in the account's extension
        set yet, so the account holds nothing on this wallet's behalf. No
        binding at all answers 404. Neither ever falls back to the wallet's own
        figure under an asset label — a number the owner acts on must not
        quietly be about a different account.

        `source=intents` is refused here and pointed at `/wallet/v1/balance`:
        intents deposits are credited to the signer, which is always the
        executor.
      parameters:
        - name: token
          in: query
          required: false
          schema:
            type: string
          description: Token ID (`nep141:<contract>` or `native`).
      responses:
        '200':
          description: Balance of the bound account (`account` is `asset`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: The wallet has no binding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/binding/transfer:
    post:
      tags: [Wallet]
      operationId: bindingTransfer
      summary: Spend from the BOUND account
      description: |
        Move native NEAR or a NEP-141 token out of the bound asset account.

        A BUILDER over the existing lane, not a new one. What gets signed is
        exactly the `w_execute_extension` you could post to `/wallet/v1/call`
        yourself: same canonical op, same pre-flight, same spend-grant rules,
        same policy evaluation, same multisig trigger, same per-promise receipt
        handling. It exists so you do not have to assemble a nested base64
        envelope by hand.

        Separate from `/wallet/v1/transfer` because it is a different
        operation, not a mode of the same one: `/wallet/v1/transfer` signs a
        plain transfer from the wallet's own account, this signs a contract
        call under an on-chain grant, with its own error classes
        (`agent_connect_denied`) and its own approval path.

        Responses are those of `/wallet/v1/call`, including `403
        agent_connect_denied` when the pre-flight refuses — read `terminal`
        before retrying.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, amount]
              properties:
                to:
                  type: string
                  description: >-
                    Where the value lands. For a token this is the LOGICAL
                    recipient, not the token contract.
                amount:
                  type: string
                  description: >-
                    Native yoctoNEAR, or the token's own smallest unit when
                    `token` is set.
                token:
                  type: [string, 'null']
                  description: NEP-141 contract. Absent means native NEAR.
                memo:
                  type: [string, 'null']
                  description: NEP-141 `memo`, passed through untouched.
      responses:
        '200':
          description: Accepted; same shape as `/wallet/v1/call`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The Agent Connect pre-flight refused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConnectDeniedResponse'
        '404':
          description: The wallet has no binding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Another operation holds this wallet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/binding/setup:
    get:
      tags: [Wallet]
      operationId: getBindingSetup
      summary: Installation kit for a personal_account binding
      description: |
        `kind=personal_account` only (for `hos_lease` the partner provisions
        accounts, and this endpoint answers 400). Requires an existing
        `personal_account` binding for the wallet.

        Returns ONE transaction of three actions — reference the wallet code
        by its global-contract hash, `w_init` (1 yoctoNEAR), and
        `w_execute_extension` adding the executor as an extension — with
        receiver = signer = the owner's own account. OutLayer only assembles
        payloads; the owner signs with any wallet, and their signature is
        what authorizes the lane, once and entirely.

        HARD refusal, not a warning: if the account already has ANY contract
        deployed, the kit answers 409 — deploying over it would not clear the
        old contract's state (the typical victim being a 2FA/multisig wallet
        contract).

        The wallet code is referenced by GLOBAL-CONTRACT HASH, and a global
        contract is published per network: the same wasm has the same hash
        everywhere, but somebody has to publish it once on each chain. This
        endpoint checks that before handing you a transaction, and answers 400
        where it has not been published — otherwise you would sign a
        transaction that cannot succeed.
      parameters:
        - name: kind
          in: query
          required: true
          schema:
            type: string
            enum: [personal_account]
      responses:
        '200':
          description: The installation transaction, ready to sign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindingSetupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: The wallet has no binding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The account already has a contract deployed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          description: |
            The chain could not be read just now, so neither the account's
            current code nor the availability of the wallet contract could be
            confirmed. Transient — retry. (A network where the wallet contract
            is not published answers 400 instead, because that does not change
            on a retry.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ============================================================================
  # Wallet — write
  # ============================================================================
  /wallet/v1/call:
    post:
      tags: [Wallet]
      operationId: call
      summary: Sign and broadcast a NEAR function call
      description: |
        Native NEAR contract call. Policy is enforced before signing; if the
        call exceeds limits, the response carries `status=pending_approval`
        and an `approval_id` for the multisig flow.


        Agent Connect: a `w_execute_extension` call aimed at the wallet's own
        bound account is additionally checked against the LIVE chain — binding
        liveness, spend grant, call form, reserve floor — before anything is
        signed. That refusal is a `403` shaped as `AgentConnectDeniedResponse`
        (not the generic error body), carrying the class, the promise index and
        a `terminal` flag. The policy engine independently decodes the same
        request and rules it on the owner's own limits.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRequest'
            example:
              receiver_id: usdt.tether-token.near
              method_name: ft_transfer
              args:
                receiver_id: bob.near
                amount: '1000000'
              gas: '30000000000000'
              deposit: '1'
      responses:
        '200':
          description: Call submitted (or queued for approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: >-
            Refused by policy, or — for `w_execute_extension` on a bound
            account — by the Agent Connect pre-flight, which answers
            `AgentConnectDeniedResponse`.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/AgentConnectDeniedResponse'
        '409':
          description: >-
            Another money-moving operation is using this wallet. Applies to
            every spending endpoint, not only this one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBusyResponse'
        '422':
          $ref: '#/components/responses/OnChainTxFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          description: >-
            The chain could not be reached to verify a binding. Transient —
            retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /wallet/v1/transfer:
    post:
      tags: [Wallet]
      operationId: transfer
      summary: Native chain transfer
      description: |
        Chain-agnostic native transfer (NEAR yoctoNEAR units). Currently only
        `chain=near` is supported; other chains return `unsupported_chain`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
            examples:
              canonical:
                summary: Canonical `to` field
                value:
                  chain: near
                  to: bob.near
                  amount: '1000000000000000000000000'
              legacyReceiverId:
                summary: Legacy `receiver_id` alias (still accepted)
                value:
                  chain: near
                  receiver_id: bob.near
                  amount: '1000000000000000000000000'
      responses:
        '200':
          description: Transfer submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/OnChainTxFailed'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/delete:
    post:
      tags: [Wallet]
      operationId: deleteWallet
      summary: Delete the wallet account, sweeping its full balance to a beneficiary
      description: |
        Irreversible. Signs and broadcasts NEAR's native `DeleteAccount`
        action, which sends the wallet account's **entire** remaining NEAR
        balance to `beneficiary`, revokes all API keys, and marks the wallet
        deleted. Guards: the beneficiary cannot be the wallet's own account,
        the wallet must have a non-zero on-chain balance (a zero-balance
        implicit account does not exist on-chain), and the wallet must not be
        already deleted. Policy is enforced before signing; on a multisig
        wallet the response carries `status=pending_approval` and an
        `approval_id` for the multisig flow.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequest'
            example:
              beneficiary: treasury.near
              chain: near
      responses:
        '200':
          description: Account deleted (or queued for approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/OnChainTxFailed'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/storage-deposit:
    post:
      tags: [Wallet]
      operationId: storageDeposit
      summary: Register storage on a NEP-141 token contract
      description: |
        Calls `storage_deposit` (with `registration_only: true`) on a NEP-141
        token contract so `account_id` (defaults to the wallet's own NEAR
        address) can hold that token. Idempotent: if the account is already
        registered the call returns `already_registered: true` without signing
        a transaction. The wallet must have NEAR to pay gas when a transaction
        is required. Policy gates this as a `call`; multisig is not supported
        for this endpoint.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageDepositRequest'
            example:
              token: wrap.near
      responses:
        '200':
          description: Storage registered (or already registered)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageDepositResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/OnChainTxFailed'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/deposit:
    post:
      tags: [Wallet]
      operationId: intentsDeposit
      summary: Deposit FT into intents.near
      description: |
        Wraps `ft_transfer_call` to `intents.near`, auto-handling storage
        deposit if required. After this call, the wallet's intents.near balance
        increases by `amount` of `token` and is available for swaps and
        gasless cross-chain withdrawals.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntentsDepositRequest'
            example:
              token: wrap.near
              amount: '5000000000000000000000000'
      responses:
        '200':
          description: Deposit submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentsDepositResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/OnChainTxFailed'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/withdraw:
    post:
      tags: [Wallet]
      operationId: intentsWithdraw
      summary: Withdraw via NEAR Intents (native NEAR / wNEAR / cross-chain)
      description: |
        Gasless withdrawal through NEAR Intents solver relay. The wallet's
        intents.near balance is debited; the receiver gets funds without paying
        gas on either side.

        **`chain=near`** — the `token` field selects what the recipient receives:
          - omitted / `near` / `native` (default): **native NEAR**. intents.near
            unwraps the wallet's wNEAR (`native_withdraw` intent) and sends native
            NEAR. The recipient needs **no** `wrap.near` storage. The recipient
            account must already exist (or be a 64-char implicit account) —
            withdrawing to a non-existent named account is rejected (the unwrapped
            wNEAR would otherwise be burned).
          - `nep141:wrap.near`: **wNEAR** (NEP-141). Recipient must be
            storage-registered on `wrap.near`.
          - other `nep141:<token>`: that NEP-141. Recipient must be storage-registered.

        **Other chains** (`ethereum`, `solana`, `bitcoin`, ...) — `token` is the
        source Intents asset; 1Click bridges and delivers the destination chain's
        native asset.

        If the policy requires approval, returns `status=pending_approval` with
        an `approval_id`.

        **Cross-chain withdrawals are best called with `async=true`**: the bridge
        can take longer than the synchronous response window, so the call returns
        `status=processing` + a `poll_url` immediately and you poll
        `GET /wallet/v1/requests/{request_id}` for the terminal status.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
            examples:
              nativeNear:
                summary: Native NEAR (default for chain=near)
                value:
                  chain: near
                  to: receiver.near
                  amount: '1000000000000000000000000'
                  token: near
              wnear:
                summary: wNEAR (NEP-141, recipient needs wrap.near storage)
                value:
                  chain: near
                  to: receiver.near
                  amount: '1000000000000000000000000'
                  token: nep141:wrap.near
              crossChain:
                summary: Cross-chain (1Click delivers native on the target chain)
                value:
                  chain: ethereum
                  to: '0x742d35Cc6634C0532925a3b844Bc9e7595f8b4f5'
                  amount: '1000000'
                  token: nep141:usdt.tether-token.near
      responses:
        '200':
          description: Withdraw submitted (or queued for approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/withdraw/dry-run:
    post:
      tags: [Wallet]
      operationId: intentsWithdrawDryRun
      summary: Simulate a withdraw (policy + balance check, no execution)
      description: |
        Runs the full policy and balance check for a withdraw without signing
        or broadcasting. Useful for showing the user whether an action would
        succeed before they confirm.

        Every pre-condition the real withdraw enforces is evaluated here, in the
        same order: request shape, policy (same canonical op — cross-chain is
        gated by the separate `cross_chain_withdraw` capability), intents
        balance, NEAR recipient existence / NEP-141 storage registration, and —
        for a cross-chain withdraw — a `dry` 1Click quote. The quote is what
        surfaces bridge minimums, unsupported routes and missing liquidity
        before the user confirms; its result is summarised in `message`.

        Approval-gated wallets get the same pre-condition checks: a
        `would_succeed: true` with `message` "Operation would require multisig
        approval" means the op is executable once approvers sign.

        Cross-chain results omit `estimated_fee`/`fee_token` — the bridge takes
        its cut out of the transferred amount rather than charging NEAR gas, so
        the quote line in `message` is the cost estimate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
      responses:
        '200':
          description: Dry-run result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DryRunResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/transfer:
    post:
      tags: [Wallet]
      operationId: intentsTransfer
      summary: Transfer inside NEAR Intents (to another account's intents balance)
      description: |
        Move a token balance from the wallet's `intents.near` balance to **another
        account's** `intents.near` balance, staying **inside** the intents pool
        (the defuse `transfer` intent). Gasless via the solver relay — neither side
        pays NEAR gas.

        This is **not** a withdrawal: funds never leave `intents.near`. Use
        `POST /wallet/v1/intents/withdraw` to deliver to a plain on-chain account
        instead. NEAR-only: there is no `chain` field, and `token` is **required**
        (to send NEAR, transfer `nep141:wrap.near`).

        The recipient is credited inside `intents.near`, so the account need **not**
        exist on-chain (a 64-hex implicit OutLayer wallet is a valid recipient); only
        the account-id format is validated.

        Gated by the wallet policy exactly like withdraw (recipient whitelist +
        per-token amount limit). If the policy requires approval, returns
        `status=pending_approval` with an `approval_id`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntentsTransferRequest'
            examples:
              usdt:
                summary: Transfer USDT to another account's intents balance
                value:
                  to: partner.near
                  amount: '1000000'
                  token: nep141:usdt.tether-token.near
      responses:
        '200':
          description: Transfer submitted (or queued for approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/swap:
    post:
      tags: [Wallet]
      operationId: intentsSwap
      summary: Swap via NEAR Intents (1Click)
      description: |
        Cross-chain swap via the 1Click solver. Quote → deposit to intents.near
        → mt_transfer → poll. Returns when the swap settles or fails.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwapRequest'
            example:
              token_in: nep141:wrap.near
              token_out: nep141:usdt.tether-token.near
              amount_in: '5000000000000000000000000'
              min_amount_out: '24000000'
      responses:
        '200':
          description: Swap submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/swap/quote:
    post:
      tags: [Wallet]
      operationId: intentsSwapQuote
      summary: Get a swap quote (no execution)
      description: |
        Returns the indicative output and deadline for a swap without executing
        it. Use this before calling `/intents/swap` to show the user expected
        output and allow them to set `min_amount_out`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwapRequest'
      responses:
        '200':
          description: Quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuoteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/evm/sign-typed-data:
    post:
      tags: [Wallet]
      operationId: evmSignTypedData
      summary: Sign EIP-712 typed data (EVM)
      description: |
        Sign an EIP-712 v4 typed-data object with the wallet's EVM (secp256k1)
        key for `chain`. The digest is computed server-side from the full
        typed-data object (no client-supplied hash is trusted); `ecrecover` over
        it returns the address from `GET /wallet/v1/address?chain=<evm>`. This is
        the core trading primitive (signs CLOB orders). Off-chain — returns the
        signature only, no broadcast. Gated by the `evm_sign` capability.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvmSignTypedDataRequest'
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvmSignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/evm/sign-message:
    post:
      tags: [Wallet]
      operationId: evmSignMessage
      summary: Sign an EIP-191 personal_sign message (EVM)
      description: |
        Sign an EIP-191 `personal_sign` message with the wallet's EVM key.
        `message` is `0x`-hex (signed as raw bytes) or a UTF-8 string. Used for
        venue L1 auth (e.g. deriving a Polymarket CLOB API key). Gated by the
        `evm_sign` capability.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvmSignMessageRequest'
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvmSignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/evm/sign-transaction:
    post:
      tags: [Wallet]
      operationId: evmSignTransaction
      summary: Sign a raw EVM transaction
      description: |
        Sign a raw EVM transaction with the wallet's EVM key. The caller supplies
        the **serialized unsigned transaction** (`unsigned_tx`, e.g. viem
        `serializeTransaction(tx)` — `0x02‖rlp(...)` for EIP-1559); the service
        keccak256-hashes it and returns the recoverable signature. It does NOT
        assemble the transaction, manage nonce/gas, or broadcast — the caller
        assembles the final signed tx and broadcasts it. For an EIP-1559 tx the
        `yParity` needed to assemble is `v - 27`. Gated by the **`evm_sign.raw_tx`**
        sub-capability (default-OFF, separate from base `evm_sign`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvmSignTransactionRequest'
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvmSignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/solana/sign-message:
    post:
      tags: [Wallet]
      operationId: solanaSignMessage
      summary: Sign an off-chain message (Solana)
      description: |
        Sign raw message bytes with the wallet's Solana (ed25519) key. The
        decoded bytes are signed AS-IS (Solana convention — verifiable with
        `nacl.sign.detached.verify`; Sign-in-with-Solana flows work unchanged).
        Bytes that parse as a valid Solana **transaction message** are rejected
        (HTTP 400): Solana has no EIP-191-style prefix separating messages from
        transactions, so this guard (the same one Phantom/Solflare apply) keeps
        the message endpoint from bypassing the `solana_sign.raw_tx`
        sub-capability. Off-chain — returns the signature only, no broadcast.
        Gated by the `solana_sign` capability. The `sol` alias is accepted for
        `chain` and canonicalized — the response always echoes `solana`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolanaSignMessageRequest'
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolanaSignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/solana/sign-transaction:
    post:
      tags: [Wallet]
      operationId: solanaSignTransaction
      summary: Sign a Solana transaction message
      description: |
        Sign a Solana transaction with the wallet's Solana (ed25519) key. The
        caller supplies the **serialized unsigned transaction message**
        (`unsigned_tx`, base64 — what the signature covers: web3.js
        `tx.serializeMessage()` / `versionedTx.message.serialize()`); the
        service signs the bytes as-is and returns the base58 signature. It does
        NOT parse or assemble the transaction, pick a blockhash, or broadcast —
        the caller assembles the signed tx
        (`compact-u16 signature count ‖ signatures ‖ message`) and broadcasts
        it. Gated by the **`solana_sign.raw_tx`** sub-capability (default-OFF,
        separate from base `solana_sign`). The `sol` alias is accepted for
        `chain` and canonicalized — the response always echoes `solana`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolanaSignTransactionRequest'
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolanaSignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Confidential intents (Defuse confidential shard)
  # ============================================================================
  /wallet/v1/confidential/shield:
    post:
      tags: [Confidential]
      operationId: confidentialShield
      summary: SHIELD — move public intents balance into the confidential shard
      description: |
        Moves the wallet's **public** `intents.near` balance into its
        confidential balance (deposit-type `INTENTS` → recipient-type
        `CONFIDENTIAL_INTENTS`).

        **Privacy note:** SHIELD links the wallet to the confidential pool
        **on-chain** (an `execute_intents` call signed by the wallet, with the
        public asset id visible). It is a convenience hop, not an unlinkable
        operation — for unlinkability fund the confidential balance via
        `confidentialDepositCrossChain` (cross-chain) instead. See CUSTODY docs.

        Async: returns `status=pending_deposit` with a `request_id`; poll
        `GET /wallet/v1/requests/{id}` until terminal.

        **Legacy alias:** `POST /wallet/v1/confidential/deposit` still works and
        resolves to the same handler.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialShieldRequest'
            example:
              token: nep141:wrap.near
              amount: '10000000000000000000000'
      responses:
        '200':
          description: Shield submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/deposit:
    post:
      tags: [Confidential]
      operationId: confidentialDeposit
      deprecated: true
      summary: '[Deprecated] SHIELD into the confidential shard (use /wallet/v1/confidential/shield)'
      description: |
        **Deprecated legacy alias.** Use
        [`confidentialShield`](#tag/Confidential/operation/confidentialShield)
        (`POST /wallet/v1/confidential/shield`) instead. Retained for backward
        compatibility; resolves to the same handler with identical
        request/response shapes.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialShieldRequest'
            example:
              token: nep141:wrap.near
              amount: '10000000000000000000000'
      responses:
        '200':
          description: Shield submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/unshield:
    post:
      tags: [Confidential]
      operationId: confidentialUnshield
      summary: UNSHIELD — move confidential balance back to public intents
      description: |
        Reverse of SHIELD (deposit-type `CONFIDENTIAL_INTENTS` → recipient-type
        `INTENTS`). Like SHIELD, this links the wallet on-chain (exit-to-public
        reveal). Async — poll `GET /wallet/v1/requests/{id}`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialUnshieldRequest'
            example:
              token: nep141:wrap.near
              amount: '10000000000000000000000'
      responses:
        '200':
          description: Unshield submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/withdraw:
    post:
      tags: [Confidential]
      operationId: confidentialWithdraw
      summary: Withdraw a confidential balance to an external chain
      description: |
        Moves a confidential balance out to a destination chain
        (`CONFIDENTIAL_INTENTS` → `DESTINATION_CHAIN`). The wallet's NEAR address
        never appears on chain — only the destination-chain receiver does, on the
        destination chain.

        `chain` must be either the token's **home chain** (e.g. `chain=zcash`
        for `nep141:zec.omft.near`, delivering the native asset to a
        destination-chain address) or `"near"`; any other combination is
        rejected with 400 — the destination is derived from the token, so a
        mismatched `chain` would describe a withdrawal that cannot happen.

        `chain="near"` delivers to the named NEAR account. For NEAR-native
        tokens (`nep141:wrap.near` → **native NEAR** via a `native_withdraw`
        intent on `intents.near`, verified live: settlement
        `FVzan8XRMwHYPe2hgX4GffwG3bdndxETWb2FKVFzFdur`). For omft bridge
        assets (e.g. `nep141:zec.omft.near`) the NEP-141 representation is
        delivered **on NEAR** (`1cs_v1:near:<asset>` destination) — the funds
        stay bridged instead of being withdrawn to the token's home chain. To
        send funds back to your **own** public intents balance use
        `confidentialUnshield` (different semantics — self vs. external
        recipient).

        `token` is **required** — the source confidential asset to deliver on the
        destination chain. The same per-chain whitelist / spending-limit policy
        as `intentsWithdraw` is enforced. Async — poll
        `GET /wallet/v1/requests/{id}`.

        **Delivery to a NEAR account is a direct NEP-141 `ft_transfer`** to the
        recipient (not an intents-balance credit). The recipient does NOT need
        prior storage registration on the token contract: 1Click checks it and,
        for an unregistered recipient, registers the storage itself, netting
        its cost out of `amount_out` (observable in the dry-run quote — an
        unregistered recipient is quoted slightly less than a registered one).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialWithdrawRequest'
            example:
              chain: solana
              to: Esf7JS1sM46vEHtk75ik7N7UD5FJ13TXVKGWEd2kksiw
              amount: '500000'
              token: nep141:sol-5ce3bf3a31af18be40ba30f721101b4341690186.omft.near
      responses:
        '200':
          description: Withdraw submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/withdraw/dry-run:
    post:
      tags: [Confidential]
      operationId: confidentialWithdrawDryRun
      summary: Quote a confidential withdraw (no execution)
      description: |
        Returns the indicative output for a confidential withdraw without
        signing or submitting. Read-only.

        Applies the same gates as the real confidential withdraw, in the same
        order: `to` is required (400 without it), then the policy decision over
        the same canonical op (403 when frozen or denied), then the upstream
        quote. A wallet whose policy requires approval still gets its quote —
        the op is executable once approvers sign.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialWithdrawRequest'
      responses:
        '200':
          description: Quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuoteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/transfer:
    post:
      tags: [Confidential]
      operationId: confidentialTransfer
      summary: Private transfer inside the confidential shard
      description: |
        Transfers a confidential balance to another NEAR account, fully inside
        the confidential shard (`CONFIDENTIAL_INTENTS` → `CONFIDENTIAL_INTENTS`).
        Settles on the private shard, so it leaves no public-chain trace.
        NEAR-only context — no `chain` field; `token`
        required. Async — poll `GET /wallet/v1/requests/{id}`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialTransferRequest'
            example:
              to: '950c134ec86a21a8525d16d1dbae79258b923cabdaa8d32da284d931f74bdcb2'
              amount: '1000000'
              token: nep141:wrap.near
      responses:
        '200':
          description: Transfer submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/swap:
    post:
      tags: [Confidential]
      operationId: confidentialSwap
      summary: Swap between two assets inside the confidential shard
      description: |
        Confidential swap with distinct `token_in`/`token_out`, both settled
        inside the confidential shard. Settles on the private shard, so it leaves
        no public-chain trace. Async — poll
        `GET /wallet/v1/requests/{id}`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialSwapRequest'
            example:
              token_in: nep141:wrap.near
              token_out: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
              amount_in: '5000000000000000000000000'
      responses:
        '200':
          description: Swap submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialOpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/swap/quote:
    post:
      tags: [Confidential]
      operationId: confidentialSwapQuote
      summary: Quote a confidential swap (no execution)
      description: Read-only price preview for a confidential swap.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialSwapRequest'
      responses:
        '200':
          description: Quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapQuoteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/deposit/cross-chain:
    post:
      tags: [Confidential]
      operationId: confidentialDepositCrossChain
      summary: Cross-chain deposit into the confidential shard (quote only)
      description: |
        Requests a one-time deposit address to fund the confidential balance
        from an external chain (`ORIGIN_CHAIN` → `CONFIDENTIAL_INTENTS`) via
        1Click / NEAR Intents. The caller sends `amount` of the source asset to
        the returned `deposit_address` out-of-band; the solver delivers it and
        credits the confidential balance. **The wallet's NEAR address never
        touches the public side** — this is the most private way to fund a
        confidential balance. Poll `GET /wallet/v1/requests/{id}` for status.

        **Legacy alias:** `POST /wallet/v1/confidential/deposit-intent` still
        works and resolves to the same handler.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialDepositIntentRequest'
            example:
              source_asset: nep141:sol-5ce3bf3a31af18be40ba30f721101b4341690186.omft.near
              amount: '500000'
      responses:
        '200':
          description: Deposit address issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialDepositIntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/deposit-intent:
    post:
      tags: [Confidential]
      operationId: confidentialDepositIntent
      deprecated: true
      summary: '[Deprecated] Cross-chain deposit into the confidential shard (use /wallet/v1/confidential/deposit/cross-chain)'
      description: |
        **Deprecated legacy alias.** Use
        [`confidentialDepositCrossChain`](#tag/Confidential/operation/confidentialDepositCrossChain)
        (`POST /wallet/v1/confidential/deposit/cross-chain`) instead. Retained
        for backward compatibility; resolves to the same handler with identical
        request/response shapes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialDepositIntentRequest'
            example:
              source_asset: nep141:sol-5ce3bf3a31af18be40ba30f721101b4341690186.omft.near
              amount: '500000'
      responses:
        '200':
          description: Deposit address issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidentialDepositIntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/confidential/balance:
    get:
      tags: [Confidential]
      operationId: confidentialBalance
      summary: Read confidential balances
      description: |
        Returns the wallet's confidential balances from the private shard
        (`intents.far`), which has no public RPC of its own. With `?token=`
        returns a single asset; without it returns the
        full list. Accepts both `wrap.near` and `nep141:wrap.near` forms.
      parameters:
        - name: token
          in: query
          required: false
          schema:
            type: string
          description: Defuse asset id to filter to (e.g. `nep141:wrap.near`). Omit for all.
      responses:
        '200':
          description: Confidential balance(s)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ConfidentialBalanceResponse'
                  - $ref: '#/components/schemas/ConfidentialBalancesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /wallet/v1/intents/deposit/cross-chain:
    post:
      tags: [Wallet]
      operationId: intentsDepositCrossChain
      summary: Create a cross-chain deposit (via 1Click / NEAR Intents)
      description: |
        Requests a one-time deposit address on a source chain via NEAR Intents
        1Click. The caller sends `amount` of the source token to the returned
        `deposit_address`; the solver delivers it and credits the wallet's
        intents.near balance. Poll `getCrossChainDepositStatus` until `success`.

        This is a **cross-chain deposit via 1Click / NEAR Intents** — the
        wallet's NEAR address receives the intents.near credit once the solver
        settles the source-chain deposit.

        Two request shapes are accepted (see
        [`DepositIntentRequest`](#/components/schemas/DepositIntentRequest)):

        - **By asset id (preferred)** — `{ source_asset, destination_asset?,
          amount }`. The source chain is derived from the
          [`defuse_asset_id`](#/components/schemas/TokenInfo) prefix. This is
          the shape returned by `listTokens` and used by the dashboard.
        - **By chain + symbol (legacy)** — `{ chain, token?, amount }`. The
          coordinator resolves `(chain, symbol)` to an asset id via the
          1Click token catalog.

        If both shapes are present and disagree, `source_asset` wins and the
        coordinator logs a warning. `near` is a valid source chain — a
        NEAR-origin deposit returns a 64-char hex implicit account.

        Amounts are in the token's smallest unit. There's a small solver fee,
        so `amount_out` < `amount`.

        The returned `deposit_address` is chain-specific — see the
        [`DepositIntentResponse.deposit_address`](#/components/schemas/DepositIntentResponse)
        description for per-chain address formats.

        **Legacy alias:** `POST /wallet/v1/deposit-intent` still works and
        resolves to the same handler.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositIntentRequest'
            examples:
              bySourceAsset:
                summary: USDC on Base → NEAR USDC (preferred shape)
                value:
                  source_asset: nep141:base-0x833589fcd6edb6e08f4c7c32d4f71b54bda02913.omft.near
                  destination_asset: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
                  amount: '5000000'
              byChainAndToken:
                summary: USDC on Ethereum (legacy shape)
                value:
                  chain: ethereum
                  token: USDC
                  amount: '5000000'
              nearNative:
                summary: NEAR-origin deposit (returns a NEAR implicit account)
                value:
                  source_asset: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
                  amount: '5000000'
      responses:
        '200':
          description: Deposit intent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositIntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/deposit-intent:
    post:
      tags: [Wallet]
      operationId: createDepositIntent
      deprecated: true
      summary: '[Deprecated] Create a cross-chain deposit (use /wallet/v1/intents/deposit/cross-chain)'
      description: |
        **Deprecated legacy alias.** Use
        [`intentsDepositCrossChain`](#tag/Wallet/operation/intentsDepositCrossChain)
        (`POST /wallet/v1/intents/deposit/cross-chain`) instead. This path is
        retained for backward compatibility and resolves to the same handler
        with identical request/response shapes — existing clients continue to
        work unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositIntentRequest'
      responses:
        '200':
          description: Deposit intent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositIntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/deposit/cross-chain/status:
    get:
      tags: [Wallet]
      operationId: getCrossChainDepositStatus
      summary: Poll a cross-chain deposit's status
      description: |
        Returns the live status of a cross-chain deposit (from
        `intentsDepositCrossChain`), lazily refreshing it against 1Click on each
        call.

        **Legacy alias:** `GET /wallet/v1/deposit-status` still works and
        resolves to the same handler.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: The `intent_id` from `intentsDepositCrossChain`.
      responses:
        '200':
          description: Deposit status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/deposit-status:
    get:
      tags: [Wallet]
      operationId: getDepositStatus
      deprecated: true
      summary: '[Deprecated] Poll a cross-chain deposit''s status (use /wallet/v1/intents/deposit/cross-chain/status)'
      description: |
        **Deprecated legacy alias.** Use
        [`getCrossChainDepositStatus`](#tag/Wallet/operation/getCrossChainDepositStatus)
        (`GET /wallet/v1/intents/deposit/cross-chain/status`) instead. Retained
        for backward compatibility; resolves to the same handler.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: The `intent_id` from the cross-chain deposit call.
      responses:
        '200':
          description: Deposit status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/intents/deposit/cross-chain/list:
    get:
      tags: [Wallet]
      operationId: listCrossChainDeposits
      summary: List this wallet's cross-chain deposits
      description: |
        Returns the wallet's cross-chain deposits (from
        `intentsDepositCrossChain`), most recent first. Each entry has the same
        shape as `getCrossChainDepositStatus`, but the list endpoint does NOT
        lazily refresh in-flight deposits against 1Click — statuses are read
        straight from storage as last persisted. Poll
        `getCrossChainDepositStatus` for a single deposit when you need its live
        status.

        **Legacy alias:** `GET /wallet/v1/deposits` still works and resolves to
        the same handler.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Max rows to return (server caps at 100). Defaults to 20.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Number of rows to skip for pagination.
      responses:
        '200':
          description: Cross-chain deposits (most recent first)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepositStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/deposits:
    get:
      tags: [Wallet]
      operationId: listDeposits
      deprecated: true
      summary: '[Deprecated] List cross-chain deposits (use /wallet/v1/intents/deposit/cross-chain/list)'
      description: |
        **Deprecated legacy alias.** Use
        [`listCrossChainDeposits`](#tag/Wallet/operation/listCrossChainDeposits)
        (`GET /wallet/v1/intents/deposit/cross-chain/list`) instead. Retained
        for backward compatibility; resolves to the same handler.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Max rows to return (server caps at 100). Defaults to 20.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Number of rows to skip for pagination.
      responses:
        '200':
          description: Cross-chain deposits (most recent first)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepositStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================================
  # Payment checks — agent-to-agent gasless payments via ephemeral intents keys
  # ============================================================================
  /wallet/v1/payment-check/create:
    post:
      tags: [Wallet]
      operationId: createPaymentCheck
      summary: Create a payment check (bearer-claimable transfer)
      description: |
        Creates a "payment check": the wallet's intents balance is moved to a
        fresh ephemeral intents account (gaslessly, via the solver relay), and
        the ephemeral account's private key is returned as `check_key`. Whoever
        holds `check_key` can `claimPaymentCheck` the funds; the creator can
        `reclaimPaymentCheck` them back. Fund the wallet's intents balance first
        via `intentsDeposit`.

        **Security model:** this is NOT gated by multisig. The keystore signs the
        transfer-to-ephemeral only when the wallet policy grants the default-DENY
        `payment_check` capability and the per-transaction amount is within the
        capability's per-token amount cap. `claimPaymentCheck` / `reclaimPaymentCheck`
        are signed by the ephemeral `check_key` itself (NEP-413), never by the
        keystore.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckCreateRequest'
            example:
              token: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
              amount: '1000000'
              memo: coffee
              expires_in: 86400
      responses:
        '200':
          description: Payment check created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/batch-create:
    post:
      tags: [Wallet]
      operationId: batchCreatePaymentChecks
      summary: Create up to 10 payment checks in one call
      description: |
        Creates between 1 and 10 payment checks in a single request, each backed
        by its own ephemeral intents account. The wallet's intents balance must
        cover the sum per token across the batch.

        **Security model:** identical to `createPaymentCheck` — gated by the
        default-DENY `payment_check` capability and its per-transaction amount cap
        (NOT multisig); each check's claim/reclaim is signed by that check's
        ephemeral key, not the keystore.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckBatchCreateRequest'
            example:
              checks:
                - token: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
                  amount: '1000000'
                  memo: invoice-1
                - token: nep141:17208628f84f5d6ad33f0da3bbbeb27ffcb398eac501a31bd6ad2011e36133a1
                  amount: '2000000'
      responses:
        '200':
          description: Payment checks created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckBatchCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/claim:
    post:
      tags: [Wallet]
      operationId: claimPaymentCheck
      summary: Claim a payment check
      description: |
        Claims the funds held by a payment check into the authenticated wallet's
        intents balance. Signed by the ephemeral `check_key` (NEP-413), so the
        caller need only hold the key. Omit `amount` for a full claim, or pass a
        partial amount (minimal units) to claim part and leave the remainder
        claimable. Expired or already-settled checks are rejected.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckClaimRequest'
            example:
              check_key: 9f8a7b6c5d4e3f2a1b0c9d8e7f6a5b4c3d2e1f0a9b8c7d6e5f4a3b2c1d0e9f8a
      responses:
        '200':
          description: Claim settled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckClaimResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/reclaim:
    post:
      tags: [Wallet]
      operationId: reclaimPaymentCheck
      summary: Reclaim an unclaimed payment check
      description: |
        Returns the (remaining) funds of a payment check the wallet created back
        to the wallet's own intents balance — used to cancel/expire a check that
        was never claimed. Identified by `check_id` and scoped to the creating
        wallet. Signed by the ephemeral check key (re-derived inside the
        keystore), not the keystore's wallet key. Omit `amount` for a full
        reclaim or pass a partial amount.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckReclaimRequest'
            example:
              check_id: 3a2b1c0d-4e5f-6a7b-8c9d-0e1f2a3b4c5d
      responses:
        '200':
          description: Reclaim settled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckReclaimResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/status:
    get:
      tags: [Wallet]
      operationId: getPaymentCheckStatus
      summary: Get a payment check's status
      description: |
        Returns the full lifecycle state of a payment check the wallet created,
        identified by `check_id`. `status` is normalized to `expired` when an
        `unclaimed` check is past its `expires_at`.
      parameters:
        - name: check_id
          in: query
          required: true
          schema:
            type: string
          description: The `check_id` returned by `createPaymentCheck`.
      responses:
        '200':
          description: Payment check status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/list:
    get:
      tags: [Wallet]
      operationId: listPaymentChecks
      summary: List the wallet's payment checks
      description: |
        Lists payment checks created by the authenticated wallet, most recent
        first. Optionally filter by `status` (including the virtual `expired`
        status: unclaimed checks past their `expires_at`).
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: >-
            Optional status filter. Accepts stored statuses (`unclaimed`,
            `claimed`, `partially_claimed`, `reclaimed`, `partially_reclaimed`)
            plus the virtual `expired` (unclaimed + past expiry).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Max rows to return (server caps at 100). Defaults to 50.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Number of rows to skip for pagination.
      responses:
        '200':
          description: Payment checks (most recent first)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/payment-check/peek:
    post:
      tags: [Wallet]
      operationId: peekPaymentCheck
      summary: Inspect a payment check by its key (without claiming)
      description: |
        Reads a payment check's on-chain balance and metadata using its
        `check_key`, without moving any funds. Use this before
        `claimPaymentCheck` to see what a key is worth. Returns the live
        on-chain `balance` of the ephemeral account plus the stored `token` /
        `memo` / `status` / `expires_at`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCheckPeekRequest'
            example:
              check_key: 9f8a7b6c5d4e3f2a1b0c9d8e7f6a5b4c3d2e1f0a9b8c7d6e5f4a3b2c1d0e9f8a
      responses:
        '200':
          description: Payment check snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCheckPeekResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/sign-message:
    post:
      tags: [Wallet]
      operationId: signMessage
      summary: Sign a generic NEP-413 message
      description: |
        Signs a NEP-413 message with the wallet's NEAR key (e.g. dApp login).
        Gated by the `sign_message` capability: `allowed_recipients` is a
        default-DENY allowlist of verifier recipients, and `intents.near` /
        `intents.far` are always excluded. Policy and freeze still apply — a
        frozen wallet cannot sign.

        **`format` is now NEP-413 only.** `format=raw` is **rejected** with
        `400 bad_request` — OutLayer NEAR-key auth (the old raw-ed25519
        `auth:`/`register:`/`api-key:` token) moved to
        [`POST /wallet/v1/auth-sign`](#tag/Wallet/operation/authSign), which
        builds the challenge with a fresh server timestamp. This is NOT OutLayer
        auth signing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignMessageRequest'
            example:
              message: 'login:myapp:1716200000'
              recipient: myapp.example
              format: nep413
      responses:
        '200':
          description: Signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/auth-sign:
    post:
      tags: [Wallet]
      operationId: authSign
      summary: Sign an OutLayer NEAR-key auth challenge (Bearer / register / api-key)
      description: |
        Produces the OutLayer authentication signature used to construct a
        `Bearer near:` token, or to authenticate `POST /register` /
        `PUT /wallet/v1/api-key` from a deterministic wallet's own NEAR key.

        The keystore **builds** the exact challenge string
        `<prefix>:<seed>:<ts>` (where `prefix` is `auth` for `bearer`, else the
        purpose) with a **fresh server timestamp** and signs it raw ed25519. The
        client does NOT supply or control the timestamp — the fresh `ts` is what
        the coordinator's verifier requires. Send the returned `auth_message`
        verbatim.

        This is the replacement for the old
        `POST /wallet/v1/sign-message {format:"raw"}`. It maps to an always-allowed,
        non-fund `Op::Auth` (domain-separated from a tx hash) — no capability and
        no multisig gate it, but a frozen wallet still cannot sign.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthSignRequest'
            examples:
              bearer:
                summary: Bearer-near auth token
                value:
                  purpose: bearer
                  seed: my-app-session
              register:
                summary: Authenticate POST /register
                value:
                  purpose: register
                  seed: my-app-session
              apiKey:
                summary: Authenticate PUT /api-key
                value:
                  purpose: api-key
                  seed: my-app-session
      responses:
        '200':
          description: Auth signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  # ============================================================================
  # Requests (async tracking)
  # ============================================================================
  /wallet/v1/requests:
    get:
      tags: [Requests]
      operationId: listRequests
      summary: List async wallet requests
      parameters:
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RequestType'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RequestStatus'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Request list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /wallet/v1/requests/{id}:
    get:
      tags: [Requests]
      operationId: getRequest
      summary: Get a single request's status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

[...]
